@charset "utf-8";

/* //////////////////////////////////////////////////////////////////////////////

	Font	

////////////////////////////////////////////////////////////////////////////// */
/* noto-sans-kr-regular - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../font/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
		url('../font/noto-sans-kr-v12-korean-regular.eot'), /* IE6-IE8 */
		url('../font/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../font/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
		url('../font/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-500 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: bold;
	src: url('../font/noto-sans-kr-v12-korean-500.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
		url('../font/noto-sans-kr-v12-korean-500.eot'), /* IE6-IE8 */
		url('../font/noto-sans-kr-v12-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/noto-sans-kr-v12-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../font/noto-sans-kr-v12-korean-500.woff') format('woff'), /* Modern Browsers */
		url('../font/noto-sans-kr-v12-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/noto-sans-kr-v12-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/* //////////////////////////////////////////////////////////////////////////////

	Basic	

////////////////////////////////////////////////////////////////////////////// */
html {font-size:16px;}
html, body{height:100%; min-height:100%;}
body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure {margin:0; padding:0;}
body {letter-spacing:-0.03em; -webkit-touch-callout:none; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; text-size-adjust:none; -webkit-overflow-scrolling:touch;}
body, input, button, select, textarea {font-family:"Noto Sans KR", "Roboto", "dotum", "sans-serif"; color:#000; line-height:1.4;}
h1, h2, h3, h4, h5, h6, input, textarea, select, button {font-size:16px;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
iframe {width:100%; margin:0; padding:0; border:none;}
fieldset {border:none;}
address, caption, em, th {font-style:normal; font-weight:normal;}
ul, ol {list-style:none;}
table {width:100%; border-collapse:collapse; border-spacing:0; border:0; table-layout: fixed;}
legend, caption, hr {overflow:hidden; width:1px; height:1px; clip:rect(1px, 1px, 1px, 1px)}
a, span, strong, em {display:inline-block;}
a {text-decoration:none;}
img {width:auto; max-width:100%; border:0; vertical-align:middle;}
input, textarea, select, button {margin:0; appearance:none; -webkit-appearance:none;-moz-appearance:none;}
input[type="text"]:disabled, textarea:disabled {border-radius:4px; border-color:#f8f8f8 !important; color:#666 !important; background:#EFEFEF !important;}
textarea {border:1px solid #CCC; width:100%; box-sizing:border-box; padding:20px; border-radius:5px; font-size:13px; -webkit-border-radius: 5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px;}
a {color:#000; text-decoration:none;}
a:link,
a:visited,
a:active,
a:hover {color:#000;}
:focus {outline:none;}

input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {color:#999; font-size:13px;}
select {height:34px; padding:0 29px 0 10px; border-radius:4px; border:1px solid #DDD; font-size:12px; color:#000; background-color:#FFF; background-image:url("../images/common/form_slct_dw.svg"); background-repeat:no-repeat; background-position:center right 10px ;}

button[disabled], html input[disabled] {cursor:default;}
.hide,legend,caption{position:absolute; left:-9999px; width:0; height:0; overflow:hidden; text-indent:-9999px; font:0/0 a;}
.hidden,
.blind {overflow:hidden; display:block; visibility: hidden; width:0; height:0; line-height:0; text-indent: -9999em; font:0/0 a;}

*,
*:before,
*:after{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box; }
.w100{width:100% !important;}
.w90{width:90% !important;}
.w80{width:80% !important;}
.w70{width:70% !important;}
.w60{width:60% !important;}
.w50{width:50% !important;}

/* //////////////////////////////////////////////////////////////////////////////
	
	Form

////////////////////////////////////////////////////////////////////////////// */
input{box-sizing:border-box;}
input[type="text"],
input[type="password"]{height:20px; padding:0 5px; line-height:20px; border:1px solid #cecece; vertical-align:middle;}
input[type="radio"],
input[type="checkbox"]{vertical-align:middle;}
input[type="submit"]{height:20px; padding:0 5px; line-height:20px; vertical-align:middle; cursor:pointer; border:none; background:#ccc;}
input[type="file"]{cursor:pointer; vertical-align:middle;}
input[type="text"],
input[type="password"],
input[type="submit"],
button{appearance:none; -webkit-appearance:none; border-radius:0; -webkit-border-radius:0;}
textarea{border:1px solid #dbdbdb; padding:5px; box-sizing:border-box;}
/* select{border:1px solid #dbdbdb; padding:0 5px; background:#fff; cursor:pointer; vertical-align:middle; box-sizing:border-box;} */
input[readonly="readonly"],
textarea[readonly="readonly"],
input[disabled="disabled"],
textarea[disabled="disabled"]{background:#efefef;}
html input[type='button'],
input[type='reset'],
input[type='submit'] {-webkit-appearance:button; cursor:pointer;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {height:auto;}
input[type='search'] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {-webkit-appearance:none;}
input[type='radio'], input[type='checkbox']{display:inline-block;}
input[type='radio']:focus,
input[type='checkbox']:focus {outline:1px dotted #333;}
input[type='text'],
input[type='password'] {width:100%; height:28px; text-indent:4px; line-height:28px; border:1px solid #bbb;}
/* select {height:30px; border:1px solid #bbb; color:#666; line-height:28px;} */
textarea {overflow:auto; width:97.5%; padding:10px; border:1px solid #e1dad5; vertical-align:top;}



/* //////////////////////////////////////////////////////////////////////////////
	
	Heading

////////////////////////////////////////////////////////////////////////////// */
h2,h3,h4,h5,h6{font-weight:700;}
h4, .h4, h5, .h5, h6, .h6{position:relative;}
h4, .h4{display:block; margin:35px 0px 10px 0px; font-size:21px; color:#1e1e1e;}
h5, .h5{display:block; margin:25px 0px 8px 0px; font-size:19px; color:#1e1e1e;}
h6, .h6{display:block; margin:15px 0px 5px 0px; font-size:17px; color:#404040;}


/* //////////////////////////////////////////////////////////////////////////////
	
	Font & Color
	
////////////////////////////////////////////////////////////////////////////// */
.red{color:#ff0000 !important;}
.copoint {color:#ffb800 !important;}
.co333 {color: #333 !important;}
.co555 {color: #555 !important;}
.co777 {color: #777 !important;}
.co999 {color: #999 !important;}
.coddd {color: #ddd !important;}
 /* font-size:16px 기준 rem 단위 */
.font8 {font-size:0.5000rem}	/* 8px  */
.font9 {font-size:0.5625rem}	/* 9px  */
.font10 {font-size:0.6250rem}	/* 10px  */
.font11 {font-size:0.6875rem}	/* 11px  */
.font12 {font-size:0.7500rem}	/* 12px  */
.font13 {font-size:0.8125rem}	/* 13px  */
.font14 {font-size:0.8750rem}	/* 14px  */
.font15 {font-size:0.9375rem}	/* 15px  */
.font16 {font-size:1.0000rem}	/* 16px  */
.font17 {font-size:1.0625rem}	/* 17px  */
.font18 {font-size:1.1250rem}	/* 18px  */
.font19 {font-size:1.1875rem}	/* 19px  */
.font20 {font-size:1.2500rem}	/* 20px  */
.font21 {font-size:1.3125rem}	/* 21px  */
.font22 {font-size:1.3750rem}	/* 22px  */
.font23 {font-size:1.4375rem}	/* 23px  */
.font24 {font-size:1.5000rem}	/* 24px  */
.font26 {font-size:1.6250rem}	/* 26px  */
.font28 {font-size:1.7500rem}	/* 28px */

/* //////////////////////////////////////////////////////////////////////////////
	
	Align

////////////////////////////////////////////////////////////////////////////// */
.align_left{text-align:left !important;}
.align_right{text-align:right !important;}
.align_center{text-align:center !important;}
.alignjust_center{justify-content:center !important;}
.float_left{float:left;}
.float_right{float:right;}
.clear{clear:both;}


/* //////////////////////////////////////////////////////////////////////////////
	
	Link

////////////////////////////////////////////////////////////////////////////// */
a.blank{position:relative; display:inline-block; font-size:14px; /* text-decoration:underline; text-underline-position:under; */}
a.blank:after{content:""; display:inline-block; width:12px; height:12px; margin-left:5px; vertical-align:middle;}
a.blank:link,
a.blank:visited,
a.blank:active{color:#404040;}
a.blank:hover{text-decoration:underline; color:#404040;}
	
a:link,
a:visited,
a:active{text-decoration:none; color:#636363;}
a:hover,
a:focus{text-decoration:underline;outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
::-webkit-input-placeholder {color:#000; opacity:0.5;}
::-moz-placeholder {color:#000; opacity:0.5;}
::placeholder {color:#000; opacity:0.5;}
.placeholder {color:#9d9d9d; opacity:0.5;}
:focus::-webkit-input-placeholder {opacity:0.2;}
:focus::-moz-placeholder {opacity:0.2; }
:focus::placeholder {opacity:0.2;}


/* //////////////////////////////////////////////////////////////////////////////
	
	Button
	
////////////////////////////////////////////////////////////////////////////// */
a.btn{
	display:inline-block; min-width:83px; height:35px; line-height:33px; padding:0 10px; font-size:14px; text-align:center; vertical-align:middle; box-sizing:border-box;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
a.btn,
a.btn:link,
a.btn:visited,
a.btn:active{background:#0b5fa6; border:1px solid #0b5fa6; color:#fff;}
/* a.btn:hover{background:#fff; border:1px solid #0b5fa6; color:#0b5fa6; text-decoration:none;} */


/* button ========================================================================================= */
/* 버튼 */
button {padding:0; border:none 0; background:none; cursor:pointer;}
.btn_center {text-align:center;}
.btn_right {text-align:right;}
.flex_btn {display:flex; margin:30px 0 10px 0;}
.flex_btn+.flex_btn {margin:0 0 10px 0;}
.flex_btn>a {margin-right:10px}
.flex_btn>a:last-child {margin-right:0}
.flex_btn.type2 {margin:20px 18px 0;}
.flex_btn.type2:nth-last-of-type(1) {margin-bottom:30px;}

/* //////////////////////////////////////////////////////////////////////////////
	
	여백

////////////////////////////////////////////////////////////////////////////// */
.pt_00{padding-top:0px !important;}
.pt_05{padding-top:5px !important;}
.pt_10{padding-top:10px !important;}
.pt_15{padding-top:15px !important;}
.pt_20{padding-top:20px !important;}
.pt_25{padding-top:25px !important;}
.pt_30{padding-top:30px !important;}
.pt_35{padding-top:35px !important;}
.pt_40{padding-top:40px !important;}
.pt_45{padding-top:45px !important;}
.pt_50{padding-top:50px !important;}

.pr_00{padding-right:0px !important;}
.pr_05{padding-right:5px !important;}
.pr_10{padding-right:10px !important;}
.pr_15{padding-right:15px !important;}
.pr_20{padding-right:20px !important;}
.pr_25{padding-right:25px !important;}
.pr_30{padding-right:30px !important;}
.pr_35{padding-right:35px !important;}
.pr_40{padding-right:40px !important;}
.pr_45{padding-right:45px !important;}
.pr_50{padding-right:50px !important;}

.pb_00{padding-bottom:0px !important;}
.pb_05{padding-bottom:5px !important;}
.pb_10{padding-bottom:10px !important;}
.pb_15{padding-bottom:15px !important;}
.pb_20{padding-bottom:20px !important;}
.pb_25{padding-bottom:25px !important;}
.pb_30{padding-bottom:30px !important;}
.pb_35{padding-bottom:35px !important;}
.pb_40{padding-bottom:40px !important;}
.pb_45{padding-bottom:45px !important;}
.pb_50{padding-bottom:50px !important;}

.pl_00{padding-left:0px !important;}
.pl_05{padding-left:5px !important;}
.pl_10{padding-left:10px !important;}
.pl_15{padding-left:15px !important;}
.pl_20{padding-left:20px !important;}
.pl_25{padding-left:25px !important;}
.pl_30{padding-left:30px !important;}
.pl_35{padding-left:35px !important;}
.pl_40{padding-left:40px !important;}
.pl_45{padding-left:45px !important;}
.pl_50{padding-left:50px !important;}

.mt_00{margin-top:0px !important;}
.mt_05{margin-top:5px !important;}
.mt_10{margin-top:10px !important;}
.mt_15{margin-top:15px !important;}
.mt_20{margin-top:20px !important;}
.mt_25{margin-top:25px !important;}
.mt_30{margin-top:30px !important;}
.mt_35{margin-top:35px !important;}
.mt_40{margin-top:40px !important;}
.mt_45{margin-top:45px !important;}
.mt_50{margin-top:50px !important;}

.mr_00{margin-right:0px !important;}
.mr_05{margin-right:5px !important;}
.mr_10{margin-right:10px !important;}
.mr_15{margin-right:15px !important;}
.mr_20{margin-right:20px !important;}
.mr_25{margin-right:25px !important;}
.mr_30{margin-right:30px !important;}
.mr_35{margin-right:35px !important;}
.mr_40{margin-right:40px !important;}
.mr_45{margin-right:45px !important;}
.mr_50{margin-right:50px !important;}

.mb_00{margin-bottom:0px !important;}
.mb_05{margin-bottom:5px !important;}
.mb_10{margin-bottom:10px !important;}
.mb_15{margin-bottom:15px !important;}
.mb_20{margin-bottom:20px !important;}
.mb_25{margin-bottom:25px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_35{margin-bottom:35px !important;}
.mb_40{margin-bottom:40px !important;}
.mb_45{margin-bottom:45px !important;}
.mb_50{margin-bottom:50px !important;}

.ml_00{margin-left:0 !important;}
.ml_05{margin-left:5px !important;}
.ml_10{margin-left:10px !important;}
.ml_15{margin-left:15px !important;}
.ml_20{margin-left:20px !important;}
.ml_25{margin-left:25px !important;}
.ml_30{margin-left:30px !important;}
.ml_35{margin-left:35px !important;}
.ml_40{margin-left:40px !important;}
.ml_45{margin-left:45px !important;}
.ml_50{margin-left:50px !important;}


input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"] {height:30px; line-height:30px; padding:0 5px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; background-color:#fff; font-size:14px; box-sizing:border-box; border:1px solid #DDD;}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}
.disnone {display:none !important}