@charset "utf-8";

/* //////////////////////////////////////////////////////////////////////////////

	Font	

////////////////////////////////////////////////////////////////////////////// */
/* noto-sans-kr-regular - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../font/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
		url('../font/noto-sans-kr-v12-korean-regular.eot'), /* IE6-IE8 */
		url('../font/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../font/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
		url('../font/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-500 - korean */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: bold;
	src: url('../font/noto-sans-kr-v12-korean-500.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
		url('../font/noto-sans-kr-v12-korean-500.eot'), /* IE6-IE8 */
		url('../font/noto-sans-kr-v12-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/noto-sans-kr-v12-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../font/noto-sans-kr-v12-korean-500.woff') format('woff'), /* Modern Browsers */
		url('../font/noto-sans-kr-v12-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/noto-sans-kr-v12-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/* //////////////////////////////////////////////////////////////////////////////

	Basic	

////////////////////////////////////////////////////////////////////////////// */
html {font-size:16px;}
html, body{height:100%; min-height:100%;}
body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure {margin:0; padding:0;}
body {letter-spacing:-0.03em; -webkit-touch-callout:none; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; text-size-adjust:none; -webkit-overflow-scrolling:touch;}
body, input, button, select, textarea {font-family:"Noto Sans KR", "Roboto", "dotum", "sans-serif"; color:#000; line-height:1.4;}
h1, h2, h3, h4, h5, h6, input, textarea, select, button {font-size:16px;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
iframe {width:100%; margin:0; padding:0; border:none;}
fieldset {border:none;}
address, caption, em, th {font-style:normal; font-weight:normal;}
ul, ol {list-style:none;}
table {width:100%; border-collapse:collapse; border-spacing:0; border:0; table-layout: fixed;}
legend, caption, hr {overflow:hidden; position:absolute; width:1px; height:1px; clip:rect(1px, 1px, 1px, 1px)}
a, span, strong, em {display:inline-block;}
a {text-decoration:none;}
img {width:auto; max-width:100%; border:0; vertical-align:middle;}
/* input, textarea, select, button {margin:0; appearance:none; -webkit-appearance:none;-moz-appearance:none;} */
input[type="text"]:disabled, textarea:disabled {border-radius:4px; border-color:#f8f8f8 !important; color:#666 !important; background:#EFEFEF !important;}
textarea {border:1px solid #CCC; width:100%; box-sizing:border-box; padding:20px; border-radius:5px; font-size:13px; -webkit-border-radius: 5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px;}
a {color:#000; text-decoration:none;}
a:link,
a:visited,
a:active,
a:hover {color:#000;}
:focus {outline:none;}

input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {color:#999; font-size:13px;}
/* select {height:34px; padding:0 29px 0 10px; border-radius:4px; border:1px solid #DDD; font-size:12px; color:#000; background-color:#FFF; background-image:url("../images/common/form_slct_dw.svg"); background-repeat:no-repeat; background-position:center right 10px ;} */

button[disabled], html input[disabled] {cursor:default;}
.hide,legend,caption{position:absolute; left:-9999px; width:0; height:0; overflow:hidden; text-indent:-9999px; font:0/0 a;}
.hidden,
.blind {overflow:hidden; display:block; visibility: hidden; width:0; height:0; line-height:0; text-indent: -9999em; font:0/0 a;}

*,
*:before,
*:after{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box; }
.w100{width:100% !important;}
.w90{width:90% !important;}
.w80{width:80% !important;}
.w70{width:70% !important;}
.w60{width:60% !important;}
.w50{width:50% !important;}

/* //////////////////////////////////////////////////////////////////////////////
	
	Form

////////////////////////////////////////////////////////////////////////////// */
input{box-sizing:border-box;}
input[type="text"],
input[type="password"]{height:20px; padding:0 5px; line-height:20px; border:1px solid #cecece; vertical-align:middle;}
input[type="radio"],
input[type="checkbox"]{vertical-align:middle;}
input[type="submit"]{height:20px; padding:0 5px; line-height:20px; vertical-align:middle; cursor:pointer; border:none; background:#ccc;}
input[type="file"]{cursor:pointer; vertical-align:middle;}
input[type="text"],
input[type="password"],
input[type="submit"],
button{appearance:none; -webkit-appearance:none; border-radius:0; -webkit-border-radius:0;}
textarea{border:1px solid #dbdbdb; padding:5px; box-sizing:border-box;}
/* select{border:1px solid #dbdbdb; padding:0 5px; background:#fff; cursor:pointer; vertical-align:middle; box-sizing:border-box;} */
input[readonly="readonly"],
textarea[readonly="readonly"],
input[disabled="disabled"],
textarea[disabled="disabled"]{background:#efefef;}
html input[type='button'],
input[type='reset'],
input[type='submit'] {-webkit-appearance:button; cursor:pointer;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {height:auto;}
input[type='search'] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {-webkit-appearance:none;}
input[type='radio'], input[type='checkbox']{display:inline-block;}
input[type='radio']:focus,
input[type='checkbox']:focus {outline:1px dotted #333;}
input[type='text'],
input[type='password'] {width:100%; height:28px; text-indent:4px; line-height:28px; border:1px solid #bbb;}
/* select {height:30px; border:1px solid #bbb; color:#666; line-height:28px;} */
textarea {overflow:auto; width:97.5%; padding:10px; border:1px solid #e1dad5; vertical-align:top;}



/* //////////////////////////////////////////////////////////////////////////////
	
	Heading

////////////////////////////////////////////////////////////////////////////// */
h2,h3,h4,h5,h6{font-weight:700;}
h4, .h4, h5, .h5, h6, .h6{position:relative;}
h4, .h4{display:block; margin:35px 0px 10px 0px; font-size:21px; color:#1e1e1e;}
h5, .h5{display:block; margin:25px 0px 8px 0px; font-size:19px; color:#1e1e1e;}
h6, .h6{display:block; margin:15px 0px 5px 0px; font-size:17px; color:#404040;}


/* //////////////////////////////////////////////////////////////////////////////
	
	Font & Color
	
////////////////////////////////////////////////////////////////////////////// */
.red{color:#ff0000 !important;}


/* //////////////////////////////////////////////////////////////////////////////
	
	Align

////////////////////////////////////////////////////////////////////////////// */
.align_left{text-align:left !important;}
.align_right{text-align:right !important;}
.align_center{text-align:center !important;}
.float_left{float:left;}
.float_right{float:right;}
.clear{clear:both;}


/* //////////////////////////////////////////////////////////////////////////////
	
	Link

////////////////////////////////////////////////////////////////////////////// */
a.blank{position:relative; display:inline-block; font-size:14px; /* text-decoration:underline; text-underline-position:under; */}
a.blank:after{content:""; display:inline-block; width:12px; height:12px; margin-left:5px; vertical-align:middle;}
a.blank:link,
a.blank:visited,
a.blank:active{color:#404040;}
a.blank:hover{text-decoration:underline; color:#404040;}
	
a:link,
a:visited,
a:active{text-decoration:none; color:#636363;}
a:hover,
a:focus{text-decoration:underline;outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
::-webkit-input-placeholder {color:#000; opacity:0.5;}
::-moz-placeholder {color:#000; opacity:0.5;}
::placeholder {color:#000; opacity:0.5;}
.placeholder {color:#9d9d9d; opacity:0.5;}
:focus::-webkit-input-placeholder {opacity:0.2;}
:focus::-moz-placeholder {opacity:0.2; }
:focus::placeholder {opacity:0.2;}


/* //////////////////////////////////////////////////////////////////////////////
	
	Button
	
////////////////////////////////////////////////////////////////////////////// */
a.btn{
	display:inline-block; min-width:83px; height:35px; line-height:33px; padding:0 10px; font-size:14px; text-align:center; vertical-align:middle; box-sizing:border-box;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
a.btn,
a.btn:link,
a.btn:visited,
a.btn:active{background:#0b5fa6; border:1px solid #0b5fa6; color:#fff;}
a.btn:hover{background:#fff; border:1px solid #0b5fa6; color:#0b5fa6; text-decoration:none;}

/* btn color */
a.btn.bg_01:link,
a.btn.bg_01:visited,
a.btn.bg_01:active{background:#32383e; border:1px solid #32383e;}
a.btn.bg_01:link:hover,
a.btn.bg_01:visited:hover,
a.btn.bg_01:active:hover{background:#fff; border:1px solid #32383e; color:#32383e;}

/* button ========================================================================================= */
/* 버튼 */
button {padding:0; border:none 0; background:none; cursor:pointer;}
.btn_center {text-align:center;}
.btn_right {text-align:right;}
.flex_btn {display:flex; margin:30px 0 10px 0;}
.flex_btn+.flex_btn {margin:0 0 10px 0;}
.flex_btn>a {margin-right:10px}
.flex_btn>a:last-child {margin-right:0}
.flex_btn.type2 {margin:20px 18px 0;}
.flex_btn.type2:nth-last-of-type(1) {margin-bottom:30px;}

a.btn_type1,button.btn_type1 {width:100%; height:45px; line-height:45px; box-sizing:border-box; background:#FF243E; color:#fff; font-size:1.5rem; border-radius:4px; text-align:center;}
a.btn_type1_2,button.btn_type1_2 {background:#414141}
a.btn_type1_3,button.btn_type1_3 {background:#666666;}
a.btn_type1_4,button.btn_type1_4 {background:#414141; width:165px;}
a.btn_type1_5,button.btn_type1_5 {background:#414141; width:auto; padding:0 20px;}

a.btn_type2,button.btn_type2 {height:35px; line-height:35px; padding:0 10px; background:#FF243E; color:#fff; font-size:1.3rem; border-radius:30px}
a.btn_type2_2,button.btn_type2_2 {height:32px; line-height:32px; padding:0 10px; font-size:14px}

a.btn_type3,button.btn_type3,.btn_type3 {height:25px; line-height:24px; padding:0 10px; background:#fff; color:#000; font-size:1.1rem; border:1px solid #000; border-radius:30px; box-sizing:border-box; text-align:center;}
a.btn_type3.graytype,button.btn_type3.graytype,.btn_type3.graytype {border: 1px solid #dddddd;}
a.btn_type3_2,button.btn_type3_2,.btn_type3_2 {color:#fff; background:#414141}
a.btn_type3_3,button.btn_type3_3,.btn_type3_3 {color:#fff; background:#B2B2B2; border:none; line-height:25px;}
a.btn_type3_4,button.btn_type3_4,.btn_type3_4 {color:#fff; background:#FF7787; border:none; line-height:25px;}
a.btn_type3_5,button.btn_type3_5,.btn_type3_5 {background:Transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF); zoom:1;}
a.btn_type3_6,button.btn_type3_6,.btn_type3_6 {color:#fff; background:#7f7f7f; border:none; line-height:25px;}

a.btn_type4,button.btn_type4 {width:100%; height:45px; line-height:45px; box-sizing:border-box; background:#fff; color:#000; border:1px solid #707070; font-size:1.5rem; border-radius:4px; text-align:center;}
a.btn_type4.disabled,button.btn_type4.disabled {color:#B2B2B2; border-color:#eee;}
a.btn_type4_2,button.btn_type4_2 {width:auto; padding:0 10px;}
a.btn_type4_3,button.btn_type4_3 {width:auto; height:35px; line-height:35px; padding:0 10px;}
a.btn_type4.btn_type4_1,button.btn_type4.btn_type4_1 {color: #fff; background: #414141;}

a.btn_type5,button.btn_type5 {width:100%; height:40px; line-height:40px; box-sizing:border-box; background:#fff; color:#666; border:1px solid #ddd; font-size:1.3rem; border-radius:4px; text-align:center;}
a.btn_type6,button.btn_type6 {position:relative; padding-bottom:2px; color:#000; font-size:1.3rem;}
a.btn_type6:before,button.btn_type6:before {content:''; display:block; position:absolute; bottom:0; left:0; width:100%; height:1px; background:#000}
a.btn_type7,button.btn_type7 {width:100%; height:40px; line-height:40px; background:#FF243E; color:#fff; border-radius:30px; font-size:14px; text-align:center; box-sizing:border-box}
a.btn_type7_2,button.btn_type7_2 {width:auto; padding:0 40px; background:#000; color:#EED4A9; font-size:1.5rem;}
a.btn_type7_3,button.btn_type7_3 {width:auto; padding:0 40px; background:#000; color:#FFF; font-size:1.5rem;}
a.btn_type8,button.btn_type8 {min-width:45px; height:30px; padding:0 20px; line-height:30px; border-radius:30px; background:#FF243E; color:#fff; text-align:center; font-size:1.3rem; box-sizing:border-box;}
a.btn_type8.disabled,button.btn_type8.disabled {background:#B2B2B2; cursor:default;}
a.btn_type8_2,button.btn_type8_2 {background:#000; color:#fff;}
a.btn_type8_3,button.btn_type8_3 {background:#fff; color:#000; border:1px solid #000;}
a.btn_type8_4,button.btn_type8_4 {background:#fff; color:#000; border:1px solid #000; padding:0 10px;}
a.btn_type8_5,button.btn_type8_5 {background:transparent; color:#000; border:1px solid #000; padding:0 10px;}
a.btn_type8_6,button.btn_type8_6 {background:#414141; color:#fff;}
a.btn_type9,button.btn_type9 {width:100%; height:30px; line-height:30px; box-sizing:border-box; background:#fff; color:#000; border:1px solid #ddd; font-size:1.1rem; border-radius:4px; text-align:center;}
a.btn_type10,button.btn_type10 {height:27px; padding:0 14px; line-height:25px; border-radius:4px; background:#FFf; color:#000; text-align:center; font-size:1.1rem; box-sizing:border-box; border:1px solid #ddd; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;}
a.btn_type10_2,button.btn_type10_2 {height:20px; line-height:18px;}
a.btn_type10_3,button.btn_type10_3 {border-color:#FF243E; color:#FF243E; height:20px; line-height:18px;}
a.btn_type10_4,button.btn_type10_4 {background-color:#8B8B8B; border:0 none; border-radius:2px; color:#ffffff; height:20px; line-height:20px; padding:0 5px; font-size:.9rem }
.btn_type11 {height:20px; line-height:20px; padding:0 10px; border-radius:20px; border:1px solid #BBB; font-size:1.2rem; color:#000; background:#FFF;}
.btn_type11_2 {border-color:#ddd; font-size:1.1rem;}
.btn_type11_3 {height:28px; line-height:28px; padding:0 13px; border-color:#ddd; font-size:1.3rem;}
.btn_type11_4 {height:28px; line-height:28px; padding:0 13px; border-color:#000; font-size:1.3rem;}
a.btn_type12,button.btn_type12 {height:28px; line-height:28px; box-sizing:border-box; padding:0 13px; border-radius:28px; background:#FF243E; color:#fff; text-align:center; font-size:1.3rem;}
a.btn_type12.disabled,button.btn_type12.disabled {background:#B2B2B2; cursor:default;}
a.btn_type12_2,button.btn_type12_2 {background:#414141;}
a.btn_type12_3,button.btn_type12_3 {background:#ffffff; border:1px solid #000; color:#000;}
/* 통합 로그인 : 카카오로 로그인 추가 2020.07.27 */
a.btn_type13,button.btn_type13 {width:100%; height:45px; line-height:45px; margin-bottom: 10px; box-sizing:border-box; background:#fff; color:#666; border:1px solid #ddd; font-size:1.5rem; border-radius:4px; text-align:center;}

/* disabled */
.btn_type1.disabled,
a.btn_type1_2.disabled,button.btn_type1_2.disabled,
a.btn_type1_3.disabled,button.btn_type1_3.disabled,
a.btn_type1_4.disabled,button.btn_type1_4.disabled,
a.btn_type1_5.disabled,button.btn_type1_5.disabled,
a.btn_type2.disabled,button.btn_type2.disabled,
a.btn_type2_2.disabled,button.btn_type2_2.disabled,
a.btn_type3_2.disabled,button.btn_type3_2.disabled,.btn_type3_2.disabled,
a.btn_type3_3.disabled,button.btn_type3_3.disabled,.btn_type3_3.disabled,
a.btn_type3_4.disabled,button.btn_type3_4.disabled,.btn_type3_4.disabled,
a.btn_type5.disabled,button.btn_type5.disabled,
a.btn_type7.disabled,button.btn_type7.disabled,
a.btn_type8.disabled,button.btn_type8.disabled,
a.btn_type8_2.disabled,button.btn_type8_2.disabled,
a.btn_type8_4.disabled,button.btn_type8_4.disabled,
a.btn_type12.disabled,button.btn_type12.disabled,
a.btn_type12_2.disabled,button.btn_type12_2.disabled,
a.btn_type12_3.disabled,button.btn_type12_3.disabled {background:#B2B2B2; pointer-events:none; cursor:default;}
a.btn_type4.disabled,button.btn_type4.disabled,
a.btn_type4_2.disabled,a.btn_type4_3.disabled,
a.btn_type8_3.disabled,button.btn_type8_3.disabled,
a.btn_type10.disabled,button.btn_type10.disabled,
a.btn_type10_2.disabled,button.btn_type10_2.disabled,
a.btn_type10_3.disabled,button.btn_type10_3.disabled,
a.btn_type10_4.disabled,button.btn_type10_4.disabled,
.btn_type11.disabled,.btn_type11_2.disabled,.btn_type11_3.disabled,
a.btn_type3.disabled,button.btn_type3.disabled,.btn_type3.disabled {color:#B2B2B2; border:1px solid #B2B2B2; background-color:#fff; pointer-events:none; cursor:default;}
a.btn_type9.disabled,button.btn_type9.disabled {color:#B2B2B2; pointer-events:none; cursor:default;}

/* disabled2 */
.btn_type1.disabled2,
a.btn_type1_2.disabled2,button.btn_type1_2.disabled2,
a.btn_type1_3.disabled2,button.btn_type1_3.disabled2,
a.btn_type1_4.disabled2,button.btn_type1_4.disabled2,
a.btn_type1_5.disabled2,button.btn_type1_5.disabled2,
a.btn_type2.disabled2,button.btn_type2.disabled2,
a.btn_type2_2.disabled2,button.btn_type2_2.disabled2,
a.btn_type3_2.disabled2,button.btn_type3_2.disabled2,.btn_type3_2.disabled2,
a.btn_type3_3.disabled2,button.btn_type3_3.disabled2,.btn_type3_3.disabled2,
a.btn_type3_4.disabled2,button.btn_type3_4.disabled2,.btn_type3_4.disabled2,
a.btn_type5.disabled2,button.btn_type5.disabled2,
a.btn_type7.disabled2,button.btn_type7.disabled2,
a.btn_type8.disabled2,button.btn_type8.disabled2,
a.btn_type8_2.disabled2,button.btn_type8_2.disabled2,
a.btn_type8_4.disabled2,button.btn_type8_4.disabled2,
a.btn_type12.disabled2,button.btn_type12.disabled2,
a.btn_type12_2.disabled2,button.btn_type12_2.disabled2,
a.btn_type12_3.disabled2,button.btn_type12_3.disabled2 {background:#B2B2B2; cursor:pointer;}
a.btn_type4.disabled2,button.btn_type4.disabled2,
a.btn_type4_2.disabled2,a.btn_type4_3.disabled2,
a.btn_type8_3.disabled2,button.btn_type8_3.disabled2,
a.btn_type10.disabled2,button.btn_type10.disabled2,
a.btn_type10_2.disabled2,button.btn_type10_2.disabled2,
a.btn_type10_3.disabled2,button.btn_type10_3.disabled2,
a.btn_type10_4.disabled2,button.btn_type10_4.disabled2,
.btn_type11.disabled2,.btn_type11_2.disabled2,.btn_type11_3.disabled2,
a.btn_type3.disabled2,button.btn_type3.disabled2,.btn_type3.disabled2 {color:#B2B2B2; border:1px solid #B2B2B2; background-color:#fff; cursor:pointer;}
a.btn_type9.disabled2,button.btn_type9.disabled2 {color:#B2B2B2; cursor:pointer;}

/* 버튼_아이콘 */
.btn_fav {display:inline-block; width:17px; height:17px; text-indent:-9999rem; vertical-align:middle; background:url("../images/icon/heart_btn1_off.svg") no-repeat center center;}
.btn_fav.active {background-image:url("../images/icon/heart_btn1_on.svg");}
.btn_fav2 {display:inline-block; width:26px; height:26px; text-indent:-9999rem; vertical-align:middle; background:url("../images/icon/heart_btn2_off.svg") no-repeat center center;}
.btn_fav2.active {background-image:url("../images/icon/heart_btn2_on.svg");}
.btn_fav3 {width:28px; height:28px; text-indent:-9999px; vertical-align:middle; background:url("../images/icon/heart_btn3_off.svg") no-repeat center center; background-size:100%;}
.btn_fav3.active {background-image:url("../images/icon/heart_btn3_on.svg");}
.btn_rep {width:18px; height:18px; text-indent:-9999em; background:url("../images/icon/reply_01.svg") no-repeat 0 0;}
.btn_ic_wish {position:relative; width:30px; height:27px; text-indent:-9999px; vertical-align:middle; background:url("../images/icon/ic_detail_aside_wish.svg") no-repeat center center;}
.btn_ic_wish:after {content:""; margin-right:10px;}
.btn_ic_wish.active {background-image:url("../images/icon/ic_detail_aside_wish_on.svg");}
.btn_ic_wish em {position:absolute; left:50%; top:50%; width:20px; height:10px; margin:-4px 0 0 0; text-indent:0; line-height:1.0; font-family:'Roboto'; font-size:1.1rem; color:#333; text-align:center; letter-spacing:0; background:#FFF;}
.btn_ic_wish em.max:after {content:"+"; margin-left:3px;}
.btn_ic_share {width:28px; height:28px; text-indent:-9999px; vertical-align:middle; background:url("../images/icon/ic_rv_share.svg") no-repeat center center;}
.btn_ic_good {line-height:24px; padding:5px; border:none; font-size:1.2rem; background:none;}
.btn_ic_good em {display:inline-block; width:20px; height:20px; margin:0 2px 0 0; vertical-align:top; text-indent:-9999px; background:url("../images/icon/ic_review_good.svg") no-repeat center center;}
.btn_ic_good.active em {background-image:url("../images/icon/ic_review_good_on.svg");}
.btn_ic_option {width:20px; height:20px; border:none; text-indent:-9999px; vertical-align:middle; background:transparent url("../images/icon/ic_review_op.svg") no-repeat center center;}
.btn_ic_refresh {width:36px; height:34px; box-sizing:border-box; border-radius:4px; border:1px solid #DDD; text-indent:-9999em; vertical-align:middle; background:#FFF url("../images/icon/ic_refresh.svg") no-repeat center center;}
.btn_more_latest {position:absolute; right:0; top:0; width:15px; height:15px; font-size:0; text-indent:-9999em; background:url("../images/icon/btn_more_latest.svg") no-repeat center center;}
.btn_more_txt {position:absolute; right:0; top:0; padding-right:7px; font-size:.9rem; color:#000; background:url("../images/icon/arr_rg_01.svg") no-repeat right center;}
.btn_present_txt {opacity:.5; padding-left:18px; font-size:1.1rem; color:#000; vertical-align:middle; background:url("../images/icon/ic_present.svg") no-repeat 0 0;}
.btn_present_txt.active {opacity:1;}
.btn_present_txt.active:after {content:""; display:inline-block; width:5px; height:8px; margin-left:3px; background:url("../images/icon/arr_3_rg.svg") no-repeat 0 0;}
.btn_pointer {height:22px; line-height:22px; box-sizing:border-box; padding:0 12px 0 24px; border-radius:30px; border:1px solid #BBB; font-size:1.2rem; color:#000; background:#fff url("../images/icon/map_pointer_skt.svg") no-repeat 10px center;}
.ic_phone {width:45px; height:45px; line-height:45px; box-sizing:border-box; border-radius:4px; border:1px solid #DDD; text-indent:-9999em; background:#fff url("../images/icon/ic_phone.svg") no-repeat center;}
.btn_txt_lnk_1 {padding-right:8px; font-size:1.1rem; color:#000; background:url("../images/icon/arr_5_rg.svg") no-repeat right 2px;}
.btn_txt_lnk_1.type2 {color:#FFF; background:url("../images/icon/arr_5_rg_wht.svg") no-repeat right 2px;}
.btn_del {width:25px; height:25px; border:none; text-indent:-9999em; background:transparent url("..//images/icon/ico_close_cir.svg") no-repeat center center; background-size:100%;}
.btn_lnk {padding-right:8px; font-size:1.1rem;}
.btn_lnk::after {content:''; display:inline-block; width:15px; height:15px; background:url('..//images/icon/ic_more.svg') no-repeat right 6px;}
.btn_reset {opacity:.5; height:28px; line-height:28px; box-sizing:border-box; padding:0 10px 0 25px; border-radius:28px; border:1px solid #000; font-size:1.1rem; color:#000; background:#FFF url("../images/icon/reset2.svg") no-repeat 12px 51%;}
.btn_reset.type2 {opacity:1; border-color:#505050; color:#FFF; box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); background:#505050 url("../images/icon/reset.svg") no-repeat 12px 50%;}
/* 좋아요 아이콘 */
.btn_ic_like {line-height:21px; padding:1px; border:none; font-size:1.1rem; font-weight:bold; background:none;}
.btn_ic_like em {display:inline-block; width:20px; height:20px; margin:0 2px 0 0; vertical-align:top; text-indent:-9999px; background:url("../images/icon/heart_btn3_off.svg") no-repeat center center; background-size:16px 15px;}
.btn_ic_like.active em {background-image:url("../images/icon/heart_btn3_on.svg");}
/* 더보기 */
.list_more {display:block; color:#7e7e7e; font-size:1.1rem; text-align:center;}
.btn_txt_share {height:38px; line-height:37px; padding:0 30px 0 52px; border-radius:4px; border:1px solid #9F9F9F; font-size:1.2rem; background:#FFF url("../images/icon/ic_share.svg") no-repeat 26px center;}
/* 수정편집 */
.area_edit {float:right;}
.area_edit .btn_edit {float:left; height:35px; padding:0 5px 0 20px; font-size:1.3rem; color:#000; background:url("../images/icon/arr_3_lf.svg") no-repeat 10px center;}
.area_edit .btn_edit.active {margin-right:5px; padding:0 20px; font-size:0; background:url("../images/icon/arr_3_rg.svg") no-repeat center center;}
.area_edit ul {display:none; float:left;}
.area_edit ul {margin-top:5px;}
.area_edit ul li {float:left; margin-left:5px;}
.area_edit ul li:first-child {margin-left:0;}
.area_edit ul li button {display:block; padding:0 10px; font-size:1.1rem;}

/* //////////////////////////////////////////////////////////////////////////////
	
	여백

////////////////////////////////////////////////////////////////////////////// */
.pt_00{padding-top:0px !important;}
.pt_05{padding-top:5px !important;}
.pt_10{padding-top:10px !important;}
.pt_15{padding-top:15px !important;}
.pt_20{padding-top:20px !important;}
.pt_25{padding-top:25px !important;}
.pt_30{padding-top:30px !important;}
.pt_35{padding-top:35px !important;}
.pt_40{padding-top:40px !important;}
.pt_45{padding-top:45px !important;}
.pt_50{padding-top:50px !important;}

.pr_00{padding-right:0px !important;}
.pr_05{padding-right:5px !important;}
.pr_10{padding-right:10px !important;}
.pr_15{padding-right:15px !important;}
.pr_20{padding-right:20px !important;}
.pr_25{padding-right:25px !important;}
.pr_30{padding-right:30px !important;}
.pr_35{padding-right:35px !important;}
.pr_40{padding-right:40px !important;}
.pr_45{padding-right:45px !important;}
.pr_50{padding-right:50px !important;}

.pb_00{padding-bottom:0px !important;}
.pb_05{padding-bottom:5px !important;}
.pb_10{padding-bottom:10px !important;}
.pb_15{padding-bottom:15px !important;}
.pb_20{padding-bottom:20px !important;}
.pb_25{padding-bottom:25px !important;}
.pb_30{padding-bottom:30px !important;}
.pb_35{padding-bottom:35px !important;}
.pb_40{padding-bottom:40px !important;}
.pb_45{padding-bottom:45px !important;}
.pb_50{padding-bottom:50px !important;}

.pl_00{padding-left:0px !important;}
.pl_05{padding-left:5px !important;}
.pl_10{padding-left:10px !important;}
.pl_15{padding-left:15px !important;}
.pl_20{padding-left:20px !important;}
.pl_25{padding-left:25px !important;}
.pl_30{padding-left:30px !important;}
.pl_35{padding-left:35px !important;}
.pl_40{padding-left:40px !important;}
.pl_45{padding-left:45px !important;}
.pl_50{padding-left:50px !important;}

.mt_00{margin-top:0px !important;}
.mt_05{margin-top:5px !important;}
.mt_10{margin-top:10px !important;}
.mt_15{margin-top:15px !important;}
.mt_20{margin-top:20px !important;}
.mt_25{margin-top:25px !important;}
.mt_30{margin-top:30px !important;}
.mt_35{margin-top:35px !important;}
.mt_40{margin-top:40px !important;}
.mt_45{margin-top:45px !important;}
.mt_50{margin-top:50px !important;}

.mr_00{margin-right:0px !important;}
.mr_05{margin-right:5px !important;}
.mr_10{margin-right:10px !important;}
.mr_15{margin-right:15px !important;}
.mr_20{margin-right:20px !important;}
.mr_25{margin-right:25px !important;}
.mr_30{margin-right:30px !important;}
.mr_35{margin-right:35px !important;}
.mr_40{margin-right:40px !important;}
.mr_45{margin-right:45px !important;}
.mr_50{margin-right:50px !important;}

.mb_00{margin-bottom:0px !important;}
.mb_05{margin-bottom:5px !important;}
.mb_10{margin-bottom:10px !important;}
.mb_15{margin-bottom:15px !important;}
.mb_20{margin-bottom:20px !important;}
.mb_25{margin-bottom:25px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_35{margin-bottom:35px !important;}
.mb_40{margin-bottom:40px !important;}
.mb_45{margin-bottom:45px !important;}
.mb_50{margin-bottom:50px !important;}

.ml_00{margin-left:0 !important;}
.ml_05{margin-left:5px !important;}
.ml_10{margin-left:10px !important;}
.ml_15{margin-left:15px !important;}
.ml_20{margin-left:20px !important;}
.ml_25{margin-left:25px !important;}
.ml_30{margin-left:30px !important;}
.ml_35{margin-left:35px !important;}
.ml_40{margin-left:40px !important;}
.ml_45{margin-left:45px !important;}
.ml_50{margin-left:50px !important;}


input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"] {height:40px; line-height:40px; padding:0 18px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; background-color:#fff; font-size:14px; box-sizing:border-box; border:1px solid #DDD;}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}
.disnone {display:none !important}