@charset "utf-8";

/* landing ========================================================================================== */
.landing {background-color:#FFE29D; text-align: center; vertical-align: middle;}
.landingimg {padding-top: 60%;}

/* template ========================================================================================== */
body.draw {overflow:hidden;}
body {overflow:inherit}
.navbar {padding: 10px 0; background-color: #FFEEC3; box-shadow:inherit}
.navbar-nav {margin: 0;}
.navbar-collapse {padding:0}
.navbar-collapse ul {height:56%; padding:20px; background: #fff; border-top: 3px solid #eee;}
.navbar-collapse ul li {}
.navbar-collapse ul li a {padding:12px 10px; color: #555;}
.navbar-info {}
.container {position: relative;}
/* .navbar-translate.z_idx {z-index: 1035;} */
.navbar-translate.z_idx .navbar-photo{animation: fadein 2s}
.navbar-translate {z-index: 9;}
.navbar .navbar-brand {padding: 0; margin: 0 auto;}
.navbar .navbar-photo {padding-right: 15px; animation: fadein 2s}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
.navbar .navbar-photo .img-circle {margin-bottom: 0;}
.offline-doc .navbar.navbar-transparent,
.navbar.navbar-transparent {padding-top:15px; border: 0;font-size: 14px;transition: all 0.4s;-webkit-transition: all 0.4s;background: #FFFFFF;box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);}
.navbar-collapse .navbar-menu {display: flex; position: relative; z-index:3; padding: 17px 0;}
.navbar-collapse .navbar-menu > .navbar-toggler2 .navbar-toggler-bar {
  background: #66615B !important;
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
  
}
.navbar-toggler2 {
  padding: .25rem .75rem .25rem 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.navbar .navbar-toggler2 .navbar-toggler-bar+.navbar-toggler-bar {margin-top: 4px;}
.navbar .navbar-toggler2 .bar1 {
  top: 6px;
  -webkit-animation: topbar-x 500ms linear 0s;
  -moz-animation: topbar-x 500ms linear 0s;
  animation: topbar-x 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navbar .navbar-toggler2 .bar2 {
  opacity: 0;
}
.navbar .navbar-toggler2 .bar3 {
  bottom: 6px;
  -webkit-animation: bottombar-x 500ms linear 0s;
  -moz-animation: bottombar-x 500ms linear 0s;
  animation: bottombar-x 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.offline-doc .navbar.navbar-transparent .navbar-menu .navbar-brand, .navbar-collapse .navbar-menu .navbar-brand {padding: 8px 15px; color: #66615B !important;}
.area-blank{position: absolute; top:0; right:10px; width:20px;height:20px; }
.area-badge {position: absolute; bottom:0; right:0;}
.badge {width:22px; height:20px; padding: 0.5em; margin-bottom: 0; background-color: #F5B929; border-radius: .8rem; text-align: center;}

/*  ========================================================================================== */

.floating_menu {position:fixed; z-index:1}
.floating_menu .list_float {position: fixed; left:0; right:0; bottom:0; height:70px; background: #FFFDF8; box-shadow: 0 -2px 8px rgba(91,91,91, 0.2)}
.floating_menu .list_float li {float:left; width:19%; box-sizing: border-box}
.floating_menu .list_float li a {display:block; height:70px; line-height: 114px; color:#000; text-align:center; white-space: nowrap; letter-spacing: 0.03px}
.floating_menu ul.list_float li.menu1 {background:url("../images/common/ic_floating_01.svg") no-repeat center 14px;}
.floating_menu ul.list_float li.menu2 {background:url("../images/common/ic_floating_02.svg") no-repeat center 14px;}
.floating_menu ul.list_float li.menu4 {background:url("../images/common/ic_floating_04.svg") no-repeat center 14px;}
.floating_menu ul.list_float li.menu5 {background:url("../images/common/ic_floating_05.svg") no-repeat center 14px;}
.floating_menu ul.list_float li.menu3 {width:24%;}
.floating_menu ul.list_float li.menu3 a {position:relative; top:-15px; width:54px; height:54px; line-height:142px; margin:0 auto; border-radius:50%; color:#333; box-shadow:0 2px 6px rgba(0, 0, 0, 0.3); background:#FFFDF8 url("../images/common/ic_floating_03.svg") no-repeat center center;}
.floating_menu .list_float li {background: url(../images/common/ic_floating_04.svg) no-repeat center 5px;}
body.draw .overlay {position:fixed; z-index:1; left:0; right:0; top:0; bottom:0; cursor:wait; background:rgba(0, 0, 0, .5);}
.navbar .btn_back {position:absolute; top:0; left:0; width:43px; height:50px; background:url('../images/common/btn_back.svg') no-repeat 50% 50%; background-size:10px 20px; font: 0 auto;}
.navbar h1.tit-info {overflow:hidden; display: block; width:100%; min-height: 50px; padding: 0 30px; line-height: 50px; white-space: nowrap; text-overflow:ellipsis; font-size: 18px; color:#000; box-sizing: border-box; text-align: center;}
/* .modal-header {padding:10px;} */
h5, .h5 {margin: 5px 0 8px 0;}
.btn-danger.btn-link {color: #ffb800; font-size:14px}
.modal-body {padding: 20px;}
.modal-content.notitle .modal-header {padding: 10px 10px 0 10px; border-bottom: 0}
.modal-content.notitle .modal-body {padding: 0px 50px 20px 50px;}
.footer {padding-bottom: 60px;}
#navigation {z-index: 2;}
.h2_tit {padding-bottom: 8px;padding-top: 30px;font-size: 16px; font-weight: 600;}
.h3_tit {padding-bottom: 8px;padding-top: 30px;font-size: 14px; font-weight: 600;}
.h3_titmove {position:relative;padding-bottom: 15px; padding-top: 80px; font-size: 14px;}
.hrline {width:100%; height: 1px; border-top: 1px solid #dedede;}
.hrlineb {width:100%; height: 1px; border-top: 1px solid #dedede; border-bottom: 1px solid #fff;}
.hrdashed {width:100%; height: 1px; border-top: 1px dashed #dedede;}
.txt_info14 {padding:10px 0 20px; font-size: 14px; color:#333;}
.txt_info14bline {padding:10px 0 20px; font-size: 14px; color:#333; border-bottom: 1px dashed #DEDEDE;}
.btn, .btn-morphing {margin-bottom: 0;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {margin: 0; color:#555}
.accordion .card {margin-bottom: 0;}
.accordion>.card .card-header {margin-bottom: 0; }
.accordion>.card .card-header .arr_tit { background-repeat: no-repeat; background-position: top 16px right 5px;transition:all 0.1s ease; -webkit-transition:all 0.1s ease;}
.accordion>.card .card-header .arr_tit[aria-expanded="false"] {background-image: url(../images/icon/arr_12_dw.svg);}
.accordion>.card .card-header .arr_tit[aria-expanded="true"] {background-image: url(../images/icon/arr_12_up.svg); }

.userinfo {position: relative; margin-top: 70px; padding: 20px 15px; background: #fff; box-sizing: border-box; z-index: 3;}
.userinfo .userinfo-img {position: relative; display: inline-block; width:80px; height:80px; vertical-align: top;}
.userinfo .userinfo-cont {position: relative; display: inline-block; width: calc(100% - 90px); padding: 20px 0 0 20px; color:#555; box-sizing: border-box;}
.userinfo .userinfo-cont .tit {font-size: 1.25em; font-weight: 600;}
.userinfo .userinfo-cont .desc {font-size: 0.75em;}
.userinfo .loginbefore {text-align: center;}
.userinfo .loginbefore .tit {padding: 25px 0 20px;}
.userinfo .loginbefore .desc {padding-bottom:10px; font-size: 18px; color: #555;}
.navbar-collapse ul.navbarnav {overflow: hidden;overflow-y: scroll;position: relative;padding: 0 20px 80px; background: #fff; box-sizing: border-box; z-index: 3;}
.navbarnav li {border-top: 1px dashed #e2e2e2}
.navbarnav li:first-child {border-top: 0;}
.navbarnav li:last-child {border-bottom: 1px solid #e2e2e2;}
.navbarnav li a span {margin-right: 10px;}
.navbarnav li a {position:relative; width:100%; font-size: 16px;}
.navbarnav li a:after {content:''; position: absolute; top:20px; right: 10px; width:10px; height:14px; background: url(../images/icon/arr_leftmenu.svg);}
.navbarnav li a span.label {position: absolute; margin-left: 5px; line-height: 16px;}
/* 아이콘 ========================================================================================== */
.icon-email {display: inline-block;width:13px;height:9px;background: url(../images/icon/icon_email.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-findpw {display: inline-block;width:8px;height:13px;background: url(../images/icon/icon_findpw.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-premium {display: inline-block;width:21px;height:24px;background: url(../images/icon/icon_premium.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-shopbasket {display: inline-block;width:23px;height:21px;background: url(../images/icon/icon_shopbasket.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-myreview {display: inline-block;width:23px;height:22px;background: url(../images/icon/icon_myreview.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-noticemenu {display: inline-block;width:23px;height:22px;background: url(../images/icon/icon_noticemenu.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-customercenter {display: inline-block;width:23px;height:22px;background: url(../images/icon/icon_customercenter.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-aboutus {display: inline-block;width:23px;height:20px;background: url(../images/icon/icon_aboutus.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-setting {display: inline-block;width:23px;height:23px;background: url(../images/icon/icon_setting.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-diarywrite {display: inline-block;width:14px;height:18px;background: url(../images/icon/icon_diarywrite.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-calendarsm {display: inline-block;width:10px;height:11px;background: url(../images/icon/icon_calendarsm.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-birthcake {display: inline-block;width:12.5px;height:11px;background: url(../images/icon/icon_birthcake.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-calendarclock {display: inline-block;width:12.5px;height:12px;background: url(../images/icon/icon_calendarclock.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-filedown {display: inline-block;width:12px;height:16px;background: url(../images/icon/icon_filedown.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-logout {display: inline-block;width:10px;height:13px;background: url(../images/icon/icon_logout.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: 0}
.icon-login {display: inline-block;width:10px;height:14px;background: url(../images/icon/icon_login.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle}
.icon-loginwt {display: inline-block;width:10px;height:14px;background: url(../images/icon/icon_loginwt.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle}
.icon-babymember {display: inline-block;width:13px;height:17px;background: url(../images/icon/icon_babymember.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle}
.icon-babymemberwh {display: inline-block;width:13px;height:17px;background: url(../images/icon/icon_babymemberwh.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle}
.icon-cacao {display: inline-block;width:35px;height:35px;background: url(../images/icon/icon_cacao.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle}
.icon-certiphone {display: inline-block;width:20px;height:17px;background: url(../images/icon/icon_certiphone.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle}
.icon-certipin {display: inline-block;width:21px;height:15px;background: url(../images/icon/icon_certipin.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle}
.icon-photoregist {display: inline-block;width:22px;height:15px;background: url(../images/icon/icon_photoregist.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -2px}
.icon-boymark {display: inline-block;width:12px;height:24px;background: url(../images/icon/icon_boymark.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -6px}
.icon-boymarkwt {display: inline-block;width:12px;height:24px;background: url(../images/icon/icon_boymarkwt.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -6px}
.icon-girlmark {display: inline-block;width:12px;height:24px;background: url(../images/icon/icon_girlmark.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -6px}
.icon-girlmarkwt {display: inline-block;width:12px;height:24px;background: url(../images/icon/icon_girlmarkwt.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -6px}
.icon-caution16 {display: inline-block;width:16px;height:16px;background: url(../images/icon/icon_caution_16.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -1px}
.icon-cautionblk16 {display: inline-block;width:16px;height:16px;background: url(../images/icon/icon_cautionblk_16.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -1px}
.icon-trashcan {display: inline-block;width:48px;height:48px;background: url(../images/icon/icon_trashcan.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -1px}
.icon-camera {display: inline-block;width:48px;height:48px;background: url(../images/icon/icon_camera.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -1px}
.icon-cameraline {display: inline-block;width:36px;height:27px;background: url(../images/icon/icon_cameraline.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -1px}
.icon-download {display: inline-block;width:13px;height:18px;background: url(../images/icon/icon_download.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -3px}
.icon-cart {display: inline-block;width:20px;height:15px;background: url(../images/icon/icon_cart.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -1px}
.icon-preview {display: inline-block;width:13px;height:18px;background: url(../images/icon/icon_preview.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -3px}
.icon-deliverycar {display: inline-block;width:22px;height:12px;background: url(../images/icon/icon_deliverycar.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: 0}
.icon-linkarrow {display: inline-block;width:6px;height:12px;background: url(../images/icon/ic_link_arrow.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: 0}
.icon-search {display: inline-block;width:40px;height:40px;background: url(../images/icon/icon_search.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: -1px}
.btn.small {padding: 0.2rem 12px; line-height: normal;}
.btn.small.btn-icon {position: relative; padding-left: 30px;}
.userinfo .userinfo-cont .icon-premium {position: absolute; top:-6px; left:6px;}
.userinfo .userinfo-cont .btn.small.btn-icon {margin: 10px 0;}
.userinfo .flex_btn {display: flex; margin: 20px 0 10px 0;}
/* 버튼 ========================================================================================== */
.flex_btn>a:last-child, .flex_btn>button:last-child{margin-right: 0;}
.flex_btn>a, .flex_btn>button{margin-right: 10px;}
a.btn_type1,button.btn_type1 {width:100%; height:48px; line-height:48px; box-sizing:border-box; background:#FFB800; color:#fff; font-size:14px; font-weight: 600; border-radius:48px; text-align:center;}
a.btn_type1_2,button.btn_type1_2 {background:#555; color:#fff}
a.btn_type1_3,button.btn_type1_3 {background:#777; color:#fff}
a.btn_type1_4,button.btn_type1_4 {background:#888; color:#fff}
a.btn_type1_5,button.btn_type1_5 {background:#dedede; color:#777}
a.btn_type2,button.btn_type2 {width:100%; height:40px; line-height:40px; box-sizing:border-box; background:#FFB800; color:#fff; font-size:13px; font-weight: 600; border-radius:40px; text-align:center;}
a.btn_type2_2,button.btn_type2_2 {background:#555; color:#fff}
a.btn_type2_3,button.btn_type2_3 {background:#777; color:#fff}
a.btn_type2_4,button.btn_type2_4 {background:#888; color:#fff}
a.btn_type2_5,button.btn_type2_5 {background:#dedede; color:#777}
a.btn_type2_6,button.btn_type2_6 {background:#aaa; color:#fff}
a.btn_type3,button.btn_type3 {width:100%; height:30px; line-height:30px; box-sizing:border-box; background:#FFB800; color:#fff; font-size:12px; font-weight: 600; border-radius:30px; text-align:center;}
a.btn_type3_2,button.btn_type3_2 {background:#555; color:#fff}
a.btn_type3_3,button.btn_type3_3 {background:#777; color:#fff}
a.btn_type3_4,button.btn_type3_4 {background:#888; color:#fff}
a.btn_type3_5,button.btn_type3_5 {background:#dedede; color:#777}
a.btn_type3_6,button.btn_type3_6 {background:#aaa; color:#fff}
a.btn_type3_7,button.btn_type3_7 {background:#dedede; color:#777;border-color:#dedede}
a.btn_rndtype3,button.btn_rndtype3 {width:100%; height:30px; line-height:30px; box-sizing:border-box; background:#fff; color:#777; border: 1px solid #dedede; font-size:12px; font-weight: 100; border-radius:30px; text-align:center;}
a.btn_cacao,button.btn_cacao {background:#FAE300; color:#555}
a.btn_border2,button.btn_border2 {padding: 0 10px; background:#FFF; color:#555;border: 2px solid #ffb800}

hr.w100h1 {position: relative; width: 100%; margin-bottom: 20px; border:0; background-color:#eee}
.nav-tabs .nav-item .nav-link.active:before, .nav-tabs .nav-item .nav-link.active:hover:before, .nav-tabs .nav-item .nav-link.active:focus:before,
.nav-tabs .nav-item .nav-link.active:after, .nav-tabs .nav-item .nav-link.active:hover:after, .nav-tabs .nav-item .nav-link.active:focus:after {border:0; right:0; bottom:0; width:100%; height:4px; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #ffb800}
.nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item .nav-link.active:hover, .nav-tabs .nav-item .nav-link.active:focus {}
.nav-tabs-navigation {margin-bottom: 20px; border-bottom: 1px solid #D6CFC9}
.nav-tabs-wrapper {margin: 0;}
.nav-tabs-navigation .nav>.nav-item>.nav-link {padding-bottom: 12px; color:#999}
.nav-tabs-navigation .nav>.nav-item>.nav-link.active {color:#333; font-size:15px;}
.nav-tabs .nav-item {margin-left: 20px; color:#333}
.nav-tabs li:first-child {margin-left: 0;}
.thumblist_type1 li {display: inline-block; position: relative; width:24%; padding-bottom: 5px; padding-right: 5px;}
.thumblist_type1 li img {border-radius:20px;}
.thumblist_type1.chkbox li .listcheckbox {position: absolute; top: 0; left: 0;}
.thumblist_type1.chkbox li .listcheckbox .form-check .form-check-label {padding-left: 80px; padding-bottom: 54px;}
.thumblist_type2 li {display: inline-block; position: relative; width:24%; padding-bottom: 5px; padding-right: 5px;}
.thumblist_type2 li img {border-radius:20px;}
.swiper-pagination-bullet {background:#aaa}
.swiper-pagination-bullet-active {background:#ffb800;}
/* 사진첩 일기 */
.nav-tabs-navigation.phtodiary .nav>.nav-item>.nav-link {font-size:15px; padding: .5rem .8rem; letter-spacing: -1px;}
.nav-tabs-navigation.phtodiary .nav-tabs .nav-item {margin-left: 9px;}
.nav-tabs-navigation.phtodiary .nav>.nav-item>.nav-link .tabicon1 {width:20px; height:19px; background:url(../images/icon/icon_diarytab.svg) 0 0 no-repeat;vertical-align: -3px;}
.nav-tabs-navigation.phtodiary .nav>.nav-item>.nav-link.active .tabicon1 {background:url(../images/icon/icon_diarytabon.svg)}
.nav-tabs-navigation.phtodiary .nav>.nav-item>.nav-link .tabicon2 {width:20px; height:19px; background:url(../images/icon/icon_calendartab.svg) 0 0 no-repeat;vertical-align: -3px;}
.nav-tabs-navigation.phtodiary .nav>.nav-item>.nav-link.active .tabicon2 {background:url(../images/icon/icon_calendartabon.svg)}
.nav-tabs-navigation.phtodiary .nav>.nav-item>.nav-link .tabicon3 {width:20px; height:19px; background:url(../images/icon/icon_birthdaytotab.svg) 0 0 no-repeat;vertical-align: -3px;}
.nav-tabs-navigation.phtodiary .nav>.nav-item>.nav-link.active .tabicon3 {background:url(../images/icon/icon_birthdaytotabon.svg)}
.btn_camera img {border: 1px solid #ffb800;}
/* swiper center ========================================================================================== */
.swiper-container.slidecenter_typecenter {position: relative; height: 250px;}
.swiper-container.slidecenter_typecenter .swiper-slide {width:120px; height:120px; transform: scale(.6);}
.swiper-container.slidecenter_typecenter .swiper-slide.swiper-slide-prev, 
.swiper-container.slidecenter_typecenter .swiper-slide.swiper-slide-next {opacity: .8;transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.swiper-container.slidecenter_typecenter .swiper-slide-active {opacity: 1; transform: scale(1); transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
/* .swiper-container.slidecenter_typecenter .swiper-slide.swiper-slide-active a img {width:120px;}
.swiper-container.slidecenter_typecenter .swiper-slide.swiper-slide-prev a img, 
.swiper-container.slidecenter_typecenter .swiper-slide.swiper-slide-next a img {width:80px} */
.swiper-container.slidecenter_typecenter .swiper-pagination-fraction, 
.swiper-container.slidecenter_typecenter .swiper-pagination-custom, 
.swiper-container.slidecenter_typecenter.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 0}
.swiper-container.slidecenter_typecenter .swiper-slide .dateinfo,
.swiper-container.slidecenter_typecenter .swiper-slide .nameinfo {display:none}
.swiper-container.slidecenter_typecenter .swiper-slide.swiper-slide-active .dateinfo {display:block; margin: 20px -100% 20px; text-align: center;}
.swiper-container.slidecenter_typecenter .swiper-slide.swiper-slide-active .nameinfo {display:block; margin: 0 -100%; font-size:20px;font-weight:600; color:#555; text-align: center;}
.swiper-container.slidecenter_typecenter .swiper-button-prev {left:0} 
.swiper-container.slidecenter_typecenter .swiper-button-next {right:0}
.swiper-container.slidecenter_typecenter .swiper-button-prev, 
.swiper-container.slidecenter_typecenter .swiper-button-next {margin-top: -80px;}
.swiper-pagination-bullet {background:#aaa}
.swiper-pagination-bullet-active {background:#ffb800;}
.dateinfo li {display: block; position: relative; font-size:13px}
.dateinfo li:first-child {padding-bottom: 5px;}
.dateinfo li .glyphicon {padding-right: 5px;}
/* swiper center big */
.swiper-container.slidecenter_type2 {position: relative; padding-bottom: 30px;}
.swiper-container.slidecenter_type2 .swiper-slide {width:100%;}
.swiper-container.slidecenter_type2 .swiper-slide.swiper-slide-active {width:100%;}
.swiper-container.slidecenter_type2 .swiper-slide a img {width:100%; border-radius: 20px;}
.swiper-container.slidecenter_type2 .swiper-slide textarea {margin: 10px 0; border-radius: 20px;}
.swiper-container.slidecenter_type2 .swiper-button-prev, 
.swiper-container.slidecenter_type2 .swiper-button-next {margin-top: -120px;}
/* swiper bgcolor */
.slide_bgcolorthumb_box {position:relative; height:120px; padding:0; margin-top: 20px;}
.col-sm-1 {flex: 0 0 8.333333%; max-width: 8.333333%;}
.col-sm-2 {flex: 0 0 16.666667%;max-width: 16.666667%;}
.col-sm-3 {flex: 0 0 25%;max-width: 25%;}
.col-sm-4 {flex: 0 0 33.333333%;max-width: 33.333333%;}
.col-sm-5 {flex: 0 0 41.666667%;max-width: 41.666667%;}
.col-sm-6 {flex: 0 0 50%;max-width: 50%;}
.col-sm-7 {flex: 0 0 58%;max-width: 58%;}
.col-sm-8 {flex: 0 0 66.666667%;max-width: 66.666667%;}
.col-sm-9 {flex: 0 0 75%;max-width: 75%;}
.col-sm-10 {flex: 0 0 83.333333%;max-width: 83.333333%;}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {padding-right: 5px; padding-left: 5px;}
.row .col-sm, .row .col-sm-1, .row .col-sm-10, .row .col-sm-11, .row .col-sm-12, .row .col-sm-2, .row .col-sm-3, .row .col-sm-4, .row .col-sm-5, .row .col-sm-6, .row .col-sm-7, .row .col-sm-8, .row .col-sm-9, .row .col-sm-auto {margin-left: -5px;padding-right: 3px; padding-left: 8px;}
.selecttxt .col-sm-1 {line-height:40px}
.row {margin-right: 0; margin-left: 0;}
.form-check-label input[type="checkbox"]:checked+.form-check-sign:before {background-color:#ffb800;}
.form-check .form-check-sign::before {color: #fff;border-radius: 50%;background-color: #fff;}
.form-check .form-check-sign::after {color: #fff;border-radius: 50%;background-color: transparent;}
.form-check .form-check-sign::before {border: 2px solid #ffb800;}
.form-check-radio .form-check-sign::before {color: #ffb800;}
.form-check-radio input[type="radio"]:checked+.form-check-sign::after {color: #ffb800;}

.form-check.rd5 .form-check-label input[type="checkbox"]:checked+.form-check-sign:before {background-color:#AAA7A4;}
.form-check.rd5 .form-check-sign::before {color: #fff;border-radius: 5px;background-color: #fff;}
.form-check.rd5 .form-check-sign::after {color: #fff;border-radius: 5px;background-color: transparent;}
.form-check.rd5 .form-check-sign::before {border: 2px solid #AAA7A4;}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-primary {background-color: #ffb800;}
.form input[type="text"].form_01 {width: 80%;}
input.rd48 {height: 40px; line-height: 40; padding: 0 15px; border-radius: 20px; -webkit-border-radius: 20px; border-color: #C0B59F}
input.rd48::placeholder, input.rd48::-webkit-input-placeholder {color: #C0B59F;letter-spacing: -1px;}
input.rdinset40 {height: 40px; line-height: 40; padding: 0 15px; border-radius: 20px; -webkit-border-radius: 20px; border-color: #d2d2d2; background-color: #F1F1F1;box-shadow: inset 1px 3px 2px rgb(0 0 0 / 10%);}
input.rdinset40::placeholder, input.rd48::-webkit-input-placeholder {color: #999;letter-spacing: -1px;}
input.ih40 {height: 40px; line-height: 40; padding: 0 15px; border-color: #DEDEDE}
.form-control {height:30px; line-height: 30px; padding:0 12px}
/* x축 스크롤 메뉴 */
.list-scrollx {overflow-y: hidden; position: relative;}
.list-scrollx > ul {overflow-x: scroll; white-space: nowrap; margin-bottom: -8px; padding-bottom: 10px;}
.list-scrollx > ul > li {display: inline-block; min-width: 80px; margin-right: 10px; vertical-align: top;}
.list-scrollx > ul > li a, .list-scrollx > ul > li button {overflow:hidden; display: block; padding: 0 12px;}
/* 상단으로 이동 top 버튼 */
.mo_quicktopMove {display:none; position:fixed; bottom:70px; right:20px; width:35px; height:35px; padding:10px; border-radius: 50px; background-color: #ffb800; box-shadow:0 0 10px rgba(0, 0, 0, .3); font:0/0 a; opacity: .8; z-index: 99;}
.mo_quicktopMove .arrowtop {position: relative; width: 2px; height: 8px; margin-top: 3px; margin-left: 4px; background: #fff; transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.mo_quicktopMove .arrowtop:after {content: ""; position: absolute; top: 0; left: 0; width: 8px; height: 2px; background: #fff;}
/* 테이블 ========================================================================================== */
/* table-a */
.table-a { width: 100%; border-top: 1px #acacac solid; border-collapse: inherit}
.table-a th {color:#333; background: #f3f3f3}
.table-a td {color:#555}
.table-a th,
.table-a td {padding:15px 10px 15px 10px;text-align: left;font-size: 14px;border-bottom: 1px #ddd dashed; word-break: keep-all; line-height: 22px;}
.table-a th.text-left,
.table-a td.text-left {padding-left: 20px}
.table-a thead th {	padding: 15px 0;font-size: 14px;color: #333;font-weight: 600;text-align: center;border-bottom: 1px #ddd solid;background: #f3f3f3}
.table-a tbody tr:last-child th, .table-a tbody tr:last-child td {border-bottom: 1px #ddd solid;}
.table-a.tbd2 {border: 2px solid #ccc}
/* table-b */
.table-b {width: 100%; border-top: 1px #acacac solid;border-collapse: inherit}
.table-b th {color:#333; background: #f3f3f3}
.table-b td {color:#555}
.table-b th,
.table-b td {text-align: left;font-size: 14px;border-bottom: 1px #ddd dashed; word-break: keep-all; line-height: 22px;}
.table-b th {padding: 15px 10px 15px 10px;text-align: left;font-size: 14px;color: #777;font-weight: 600;background: #f3f3f3}
.table-b td {padding: 10px ;border-left: 1px #ddd solid}
.table-b tbody tr td:first-child {border-left: 0;}
.table-b tbody tr:last-child th, .table-b tbody tr:last-child td {border-bottom: 1px #ddd solid;}
.table-b.tbd2 {border: 2px solid #ccc}
/* table-c */
.table-c {width: 100%; border-top: 1px #acacac solid;border-collapse: inherit}
.table-c th,
.table-c td {text-align: left;font-size: 14px;border-bottom: 1px #ddd dashed; word-break: keep-all; line-height: 22px;}
.table-c th {padding: 15px 0 15px 10px;text-align: left;font-size: 14px;color: #333;font-weight: 600}
.table-c td {color: #777;padding: 10px}
.table-c tbody tr:last-child th, .table-c tbody tr:last-child td {border-bottom: 1px #ddd solid;}
.table-c.tbd2 {border: 2px solid #ccc}
.txtp16 {color: #FF6B00; font-size:16px;}
.txtp22 {color: #FF6B00; font-size:22px;}
.txtp24 {color: #FF6B00; font-size:24px;}
.txtp26 {color: #FF6B00; font-size:26px;}
.lh30 {line-height: 30px}
.lh40 {line-height: 40px}
.tbl_rightinfo {padding: 20px 0 8px 0; color:#555; font-size:12px; text-align: right;}
.redsmallinfo {padding-top: 5px; color:#FF3D00; font-size:11px;}
.bluesmallinfo {padding-top: 5px; color:#0047FF; font-size:11px;}
/* error, nodata */
.notice_list {padding-top:150px; padding-bottom:30px; text-align:center; background-repeat:no-repeat; background-position:center 50px;}
.notice_list .tit {margin:5px 0; font-size:16px; color:#333;}
.notice_list p {margin-top:10px; font-size:13px; color:#666;}
.notice_list p em {color:#000;}
.notice_list p strong {color:#FF243E;}
.notice_list p.dist2 {margin-top:20px;}
.notice_list.ty1 {background-image:url("../images/icon/ic_notice_01.svg");}
.notice_list.ty2 {background-image:url("../images/icon/ic_notice_02.svg");}
.notice_list.ty3 {background-image:url("../images/icon/ic_notice_03.svg");}
/* 로그인 */
.navbar-collapse .findinfo {margin-top:20px; text-align: right;padding-right: 0;}
.navbar-collapse .findinfo li {display: inline-block;}
.navbar-collapse .findinfo li a {padding: 0 10px}
.iconimgtop {padding: 40px 0 20px; text-align: center;}
.findinfo {margin-top:20px; text-align: right;padding-right: 0;}
.findinfo li {display: inline-block;}
.findinfo li a {padding: 0 10px}
.snslogin {padding-top: 25px; margin: 25px 0; border-top:2px solid #F6F6F6}
/* 아아디/비밀번호 찾기 */
.tab-pane .accordion {border-radius: 12px; border: 1px solid #DEDEDE}
.accordion .btn.btn-link {padding-left: 0;}
.row .mlpl0 {margin-left: 0; padding-left: 0;}
.row .mlmrpr0 {margin-left: 0; margin-right: 0; padding-right: 0;}
.font14txt {font-size: 14px; color: #555; text-align: center;}
.id_infobox {padding:20px 10px; margin-top: 10px; font-size: 18px; color:#333; border:1px solid #ffb800; border-radius:20px;  text-align: center;}
.id_infobox.fontsize14 {font-size:14px;}
/* 내프로필 */
.box_childcare {padding:20px 10px; border: 1px solid #ddd; border-radius: 10px;}
.box_childcare .img {float: left;}
.box_childcare .infoselect {padding-left: 90px;}
.box_childcare .infoselect .info {padding:10px 0 20px 10px; font-size: 14px; color:#555;}
.box_childcare .infoselect .info .tit {font-weight: 200}
.box_childcare .infoselect .info .desc {padding-top:5px; font-weight: 600;}
.box_childcare .infoselect .col-sm-3 {padding-left: 0;}
.box_childcare .infoselect .form-check-radio .form-check-label {padding-left:1.6rem}
.midinfo12 {color:#555; font-size:12px;}
.midinfo14 {color:#555; font-size:14px;}
.careselectbox li {display: inline-block;}
.form-check-radio.carebox .form-check-label {padding-left: 30px; margin: 2px ​8px 2px ;}
/* 양육자 정보 등록 */
.childcareselect {margin:10px 0 10px; text-align: center;}
.childcareselect .form-check-radio:before {font-family: 'FontAwesome';content: "\f10c";font-size: 22px;-webkit-font-smoothing: antialiased;display: inline-block;position: absolute;opacity: .50;left: 19px;top: -7px;color: #ffb800;}
.childcareselect ul li {position:relative; padding-top: 100px;}
.childcareselect ul li .form-check-radio .form-check-sign::before {content:''; display:block; position: absolute; top:-70px; left:20px; width:60px; height:60px;}
.childcareselect ul li:first-child .form-check-radio .form-check-sign::before {background: url(../images/icon/icon_childcare1.jpg) 0 0 no-repeat; background-size:100%;}
.childcareselect ul li:nth-child(2) .form-check-radio .form-check-sign::before {background: url(../images/icon/icon_childcare2.jpg) 0 0 no-repeat; background-size:100%;}
.childcareselect ul li:nth-child(3) .form-check-radio .form-check-sign::before {background: url(../images/icon/icon_childcare3.jpg) 0 0 no-repeat; background-size:100%;}
.childcareselect ul li:nth-child(4) .form-check-radio .form-check-sign::before {background: url(../images/icon/icon_childcare4.jpg) 0 0 no-repeat; background-size:100%;}
.childcareselect ul li .form-check-radio input[type="radio"]:checked+ .form-check-sign::before {opacity: 1;}
.childcareselect ul li .form-check-radio input[type="radio"]:checked+.form-check-sign::after {top: -7px; left:19px;}
/* 아기정보 */
.babyinfolist {padding: 40px 10px 0 10px;}
.babyinfolist li {display: inline-block; width:48%; padding-bottom: 30px; text-align: center;}
.babyinfolist li a {text-align: center;}
.babyinfolist li a img {width: 100px; border-radius: 50%;}
.babyinfolist li a .name {display:block; padding-top: 10px;}
/* 일기쓰기 */
.diarybox {overflow:hidden; overflow-y:scroll; height:400px; margin-top: 20px; padding:30px 20px; background-color:#f8f8f8; border-radius: 10px}
.diarybox.type2 {padding:30px 10px; background-color: #fff;}
.diarybox .dt_tit {font-size:14px; font-weight: 600; color:#333;}
.diarybox .dt_tit .infotxt {padding-top: 10px;font-size:11px; font-weight: 100; color:#777;}
.diarybox .dd_desc {padding-top:20px; margin-top: 20px; border-top: 1px solid #ddd; font-size:12px; font-weight: normal; color:#555;line-height: 22px;}
.diarybox2 {margin-top: 20px; padding: 20px; font-size:12px; font-weight: 100; line-height:20px; color:#555;background-color: #f8f8f8;border-radius: 10px;}
.diarybox2.modifytype {padding: 10px;}
.diarybox2.modifytype textarea {width:100%; margin:0 !important}
.calendarwrap #datepicker .ui-datepicker {margin-bottom:30px; box-shadow: 5px 0 20px rgb(0 0 0 / 5%);}
.swiper-container.slidecenter_type2.wrap_diarybox .swiper-button-prev, .swiper-container.slidecenter_type2.wrap_diarybox .swiper-button-next {margin-top:inherit; top: 70px;}
#my-tab-diarycontent .hrline {position:absolute; top:20px;border-style: dashed; clip:inherit}
/* 일기수정 */
.swiper-container.slidecenter_type2.wrap_diarybox .swiper-slide textarea {font-size:12px; border-radius: 10px;}
/* 스토어 리스트 */
.storelist {padding: 20px 10px 0 10px;}
.storelist li {display: inline-block; width: 48%; padding-bottom: 30px; padding-left: 20px;}
.storelist li a {text-align: center;}
.storelist li a img {border-radius: 20px;}
.storelist li a .name {display:block; padding-top: 10px;}

.makestorelist {}
.makestorelist>li {display: inline-block; width: 32.4444444%; padding-bottom: 10px; padding-right: 4px;}
.makestorelist>li a {display:block; text-align: center;}
.makestorelist>li a img {border-radius: 20px;}
.makestorelist>li .info {margin-top: 10px;}
.makestorelist>li .info>li {display:block; overflow:hidden; font-size:11px; padding-bottom: 2px; color:#555;}
.makestorelist>li .info>li:first-child {overflow:hidden; white-space: nowrap; text-overflow:ellipsis;}
.makestorelist>li .info>li:nth-child(2) {overflow:hidden; white-space: nowrap; text-overflow:ellipsis;}
.makestorelist>li .info>li:nth-child(3) {font-size:10px}
.makestorelist>li .info>li:nth-child(4) {padding-top: 5px;}
.btn_trashcanbig {position: absolute; top:0; left:50%; margin-left: -24px;}
.btn_camerabig {position: absolute; top:0; left:50%; margin-left: -24px;}
/* 스토어 배경 선택 */
.bgcolor_green {width:100px; height:100px; border-radius: 20px; background-color: #D5F2EA; font: 0/0 auto;}
/* 일기 사진선택 */
.diaryselectinfobox {padding:20px 15px; margin: 20px; text-align: center; background-color: #fff; border-radius: 20px; -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .1); -moz-box-shadow:0 0 10px rgba(0, 0, 0, .1); box-shadow:0 0 10px rgba(0, 0, 0, .1);}
.diaryselectinfobox .txt1 {font-size:18px; color:#555}
.diaryselectinfobox .txt2 {font-size:14px; color:#555}
/* 스토어 편집하기 */
.storeedit {position: relative; margin:10px 0; background-color:#fff}
.storeedit .dt_tit {min-height: 100px; padding: 10px 0 20px 120px; border-bottom:1px solid #f6f6f6; font-size:14px; font-weight: 600; color:#333;}
.storeedit .dt_tit .photoimg1 {position: absolute; left: 0; top: 0;}
.storeedit .dt_tit .photoimg1 img {border-radius: 20px;}
.storeedit .dt_tit .infotxt {display:block; padding-top: 5px;font-size:12px; font-weight: 100; color:#333;}
.storeedit .dd_desc {padding:20px 0; ; margin-bottom: 30px; font-size:12px; font-weight: normal; border-bottom: 1px solid #F6F6F6; color:#555;line-height: 18px; letter-spacing: -1px;}
.storeedit .flex_btn {margin-top: 10px;}
.diarycontlist {padding-top: 10px;padding-bottom: 20px;}
.diarycontlist li {position: relative; margin-bottom: 20px;}
.diarycontlist .num {position: absolute; top:10px; left:0;}
.diarycontlist .tit {position: absolute; top:0; left:20px;}
.diarycontlist .tit img {width:80px; height:80px; border-radius: 20px;}
.diarycontlist .desc {padding-left: 120px; padding-top: 5px; color:#555}
.diarycontlist .desc .txtbox {display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; line-height:18px; height:35px; color:#555; font-size:12px; text-decoration:none;}

/* 설정 */
.settings {}
.settings .h2_titbox {position:relative; height:68px; padding:0 18px; background:#F8F8F8; font-size:17px; color:#333; line-height:68px}
.setlist_type1 > li {padding:20px 18px; border-bottom:1px solid #EEE; background:#fff; font-size:15px}
.setlist_type1 > li .con_box:after {content:''; display:block; clear:both;}
.setlist_type1 > li .left_con {float:left;}
.setlist_type1 > li .right_con {float:right;}
.setlist_type1 > li .right_con .btn_switch {height:26px; margin-top:-3px;}
.setlist_type1 > li .txt_info {margin-top:8px; font-size:11px; color:#555;}
.setlist_type1 > li.link_type1 {padding:0}
.link_type1>a {padding:20px 18px; display:block; position:relative;}
.link_type1>a:after {content:''; display:block; width:6px; height:12px; position:absolute; top:50%; right:18px; -webkit-transform:translate(0, -50%); transform:translate(0, -50%); background:url(../images/icon/ic_link_arrow.svg) no-repeat 0 0; background-size:6px 12px;}

/* 스위치버튼 */
.btn_switch .label_on_off {overflow:hidden; position:relative; display:inline-block; width:58px; height:26px; -webkit-border-radius:13px; -moz-border-radius:13px; border-radius:13px; background-color:#B2B2B2; color:#fff; font-weight:bold; cursor:pointer; -webkit-transition:all .3s; -moz-transition:all .3s; -ms-transition:all .3s; -o-transition:all .3s; transition:all .3s; font-size:1.2rem; font-weight:bold; font-family:'Roboto'; line-height:27px}
.btn_switch .label_on_off > * {vertical-align:middle; -webkit-transition:all .3s; -moz-transition:all .3s; -ms-transition:all .3s; -o-transition:all .3s; transition:all .3s; font-size:14px;}
.btn_switch .label_on_off .marble {position:absolute; top:1px; left:1px; display:block; width:24px; height:24px; background-color:#fff; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .3); -moz-box-shadow:0 0 10px rgba(0, 0, 0, .3); box-shadow:0 0 10px rgba(0, 0, 0, .3);}
.btn_switch .label_on_off .on {display:none; padding-left:12px; line-height:25px }
.btn_switch .label_on_off .off {padding-left:30px; line-height:25px;}
.btn_switch .input_on_off:checked + .label_on_off {background-color:#000;}
.btn_switch .input_on_off:checked + .label_on_off .on {display:inline-block;}
.btn_switch .input_on_off:checked + .label_on_off .off {display:none;}
.btn_switch .input_on_off:checked + .label_on_off .marble {left:33px;}
.btn_switch .input_on_off {display:none;}

/* 회원탈퇴 */
.list_txt.smalltype {}
.list_txt.smalltype li {position:relative; padding-bottom: 10px; padding-left: 20px; color:#555;}
.list_txt.smalltype li .icon-cautionblk16 {position: absolute; top:-3px; left:0;}

/* 책장넘기기 booklet */
.wrap_mymagazine {margin:0; border-radius: 20px;  border: 1px solid #dedede; box-shadow: 0 5px 10px rgb(0 0 0 / 20%);}
.wrap_mymagazine.lightyellow {background:rgb(255, 255, 212);}
.wrap_mymagazine.lightgreen {background:rgb(229, 255, 212);}
.wrap_mymagazine.lightblue {background:rgb(212, 220, 255);}
.wrap_mymagazine.lightgray {background:#959595;}
.booklet .b-page-0 .b-wrap {background:rgb(251, 212, 255);}
.booklet .b-page-1 .b-wrap {background:rgb(212, 232, 255);}
.booklet .b-page-2 .b-wrap {background:rgb(238, 255, 212);}
.booklet .b-page-3 .b-wrap {background:rgb(255, 245, 212);}
.wrap_mymagazine .h3_mytit {overflow:hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 13px;}
.wrap_mymagazine .h3_mytit a {display:block; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 13px;}              
.wrap_mymagazine img {margin-top: 5px; border-radius: 10px}
.wrap_mymagazine .diarytxt1 {overflow:hidden; overflow-y:scroll; width: 100%; height: 170px; line-height:20px; padding:10px 5px; margin-top: 10px; border-radius: 10px; background-color: #f6f6f6;}
.booklet .b-pN .b-wrap, .booklet .b-p1 .b-wrap, .booklet .b-p2 .b-wrap, .booklet .b-p3 .b-wrap, .booklet .b-p4 .b-wrap {margin:10px;border-radius: 10px;}
.booklet .b-counter {font-size:11px; line-height: 11px; color: #555; background: #f6f6f6; border-radius: 10px}
.swiper-container.slidecenter_type2.wrap_diarybox_type2 .swiper-button-prev, .swiper-container.slidecenter_type2.wrap_diarybox_type2 .swiper-button-next {margin-top:-40px; top: 200px;}
.swiper-container.slidecenter_type2.wrap_diarybox_type2 .swiper-button-prev {left:0}
.swiper-container.slidecenter_type2.wrap_diarybox_type2 .swiper-button-next {right:0}
#my-tab-diarycontent .hrline {position:absolute; top:20px;border-style: dashed; clip:inherit}
.swiper-container.slidecenter_type2.wrap_diarybox_type2 .swiper-slide textarea {font-size:12px; border-radius: 10px;}

/* 주문하기 안내 */
.magainfo_dashtype1 {}
.magainfo_dashtype1 .tit {padding-top: 20px; color:#333; font-size:14px; font-weight:bold}
.magainfo_dashtype1 .desc {padding:15px 0; color:#555; font-size:14px; border-bottom:1px dashed #DEDEDE;}
.box_orderborder {margin: 30px 0; padding-bottom: 30px; border:1px solid #BCBCBC; border-radius: 10px;}
.box_orderborder .toptit {padding:15px; font-weight:bold; background-color:#F5F5F5; border-radius: 10px; border-bottom-left-radius:0; border-bottom-right-radius:0}
.box_orderborder .area_info_type1 {padding:0 10px}
.box_orderborder .area_info_type1 .dt_tit {padding-top: 30px;font-size:14px; font-weight: bold;}
.box_orderborder .area_info_type1 .dd_desc {padding-top: 10px;font-size:14px;}
.won {font-size:70%}
.banner_type1 {padding:10px 0}
.infodetails_type1 {padding:10px 0}
.banner_type1 img,
.infodetails_type1 img {width:100%}
.wrap_tit {position: relative;}
.wrap_tit .p_left {float: left}
.wrap_tit .p_right {float: right}
.wrap_tit:after {content: ''; display:block; clear: both;}

/* 주문정보입력 */
.imgw100 img {width:100%}
.order_prod {}
.order_prod table {}
.order_prod .prodinfo {}
.order_prod td img {border-radius: 10px;}
.order_prod .prodinfo .tit {display:block; color:#333; font-size: 16px; font-weight:bold;}
.order_prod .prodinfo .num {display:block; color:#555; font-size: 12px;}
.order_prod .prodinfo .fee {display:block; color:#555; font-size: 12px;}
.order_prod .prodinfo .price {display:block; padding-top: 15px; color:#333; font-size:20px; text-align: right;}
table.radius {overflow: hidden; border-radius: 10px;}
table.bdcolor {border-color:#ffb800 !important}
.checkinfo li {padding-top:10px; line-height: 35px; vertical-align: middle;}
.link_view {position: absolute; top: 0; right:0}

.testcolor1 {background-color:#D87228 !important}
.testcolor2 {background-color:#9C2A31 !important}
.testcolor3 {background-color:#9A4F18 !important}
.testcolor4 {background-color:#C6451C !important}
.testcolor5 {background-color:#AF3812 !important}
.testcolor6 {background-color:#C51535 !important}

/* 우편번호찾기 */
.emailtip {margin-top: 30px;}
.emailtip .tit {padding-bottom:10px; font-size: 16px; font-weight: bold; color:#555}
.emailtip .desc {position:relative; padding-left: 10px; font-size:13px; color:#555}
.emailtip .desc:before {content:''; display: block; position: absolute; top:7px; left:2px; width:2px; height:2px; background-color: #999;}
.float_leftright {position: relative; padding:8px 0}
.float_leftright .fl {float: left;}
.float_leftright .fr {float: right;}
.float_leftright .txt {font-size:12px; color:#555}
.float_leftright .txt .num {color:#333; font-weight:bold}
.float_leftright:after {content:''; display: block; clear:both}
.areabtn {position: absolute; top: 0; right:0}
.areabtn button, .areabtn a {display:inline-block; min-width: 80px; width: auto;}
.emailsearchlist {position: relative;}
.emailsearchlist .searhclist li:first-child {border-top: 1px solid #ddd}
.emailsearchlist .searhclist li {padding:10px 10px; border-bottom:1px solid #ddd}
.emailsearchlist .zipcode {padding:5px 0; font-size:18px; color:#E34400}
.emailsearchlist nav {margin:20px 0;text-align: center;}
.table-d {width: 100%; border-collapse: inherit}
.table-d th,
.table-d td {text-align: left;font-size: 13px; word-break: keep-all; line-height: 16px;}
.table-d th {padding: 5px 0 5px 0;text-align: left;font-size: 13px;color: #777;font-weight: 600}
.table-d td {color: #333;padding: 0 10px}
.page-item:first-child .page-link, .page-item:last-child .page-link {background-color: transparent;border: 2px solid #999;border-radius: 20px;color: #999;height: 36px;margin: 0 2px;min-width: 36px;padding: 8px 12px;font-weight: 600;}
.pagination>li>a, .pagination>li>span, .pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {background-color: transparent;border: 2px solid #ffb800;border-radius: 20px;color: #ffb800;height: 36px;margin: 0 2px;min-width: 36px;padding: 8px 12px;font-weight: 600;}
.page-item.active .page-link {background-color: #ffb800;color: white;border-color: #ffb800;}
.pagination>li>a:hover, .pagination>li>a:focus, .pagination>li>a:active, .pagination>li.active>a, .pagination>li.active>span, .pagination>li.active>a:hover, .pagination>li.active>span:hover, .pagination>li.active>a:focus, .pagination>li.active>span:focus {background-color: #ffb800;border-color: #ffb800;color: #FFFFFF;}
.wrap_page {position: relative; margin-top: 25px; text-align: center;}
.wrap_page ol {display: inline-block;margin: 0;vertical-align: middle;}
.wrap_page ol li {float: left;}
.wrap_page ol li strong, .wrap_page ol li, .wrap_page ol li {display:inline-block; height:32px; line-height:32px; padding:0 5px; font-size:15px; color:#333; vertical-align:middle;}
.wrap_page ol li a.active,
.wrap_page ol li a:hover,
.wrap_page ol li strong {text-decoration:underline; opacity:1;}
.wrap_page ol li a:focus {color: #000; opacity: 1;}
.wrap_page .btn_pageprev img{transform: rotate(180deg);}
.wrap_page .btn_pageprev, .wrap_page .btn_pagenext {padding: 0px 12px;border: 1px solid #ddd;border-radius: 5px;}
.wrap_page [class^="btn_pg_"] {width:20px; border:0; background:no-repeat 50% 50%; text-indent:-9999em;}
