@charset "utf-8";

/* template ========================================================================================== */
body.draw {overflow:hidden;}
body {overflow:inherit}
.navbar {padding: 10px 0; background-color: #FFFAEF; box-shadow:inherit}
.navbar-nav {margin: 0;}
.navbar-collapse {padding:0}
.navbar-collapse ul {height:56%; padding:20px; background: #fff; border-top: 3px solid #eee;}
.navbar-collapse ul li {}
.navbar-collapse ul li a {padding:15px 10px; color: #555;}
.navbar-info {}
/* .navbar-translate.z_idx {z-index: 1035;} */
.navbar-translate.z_idx .navbar-photo{animation: fadein 2s}
.navbar-translate {z-index: 9;}
.navbar .navbar-brand {padding: 0; margin: 0 auto;}
.navbar .navbar-photo {padding-right: 15px; animation: fadein 2s}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
.navbar .navbar-photo .img-circle {margin-bottom: 0;}
.offline-doc .navbar.navbar-transparent,
.navbar.navbar-transparent {padding-top:15px; border: 0;font-size: 14px;transition: all 0.4s;-webkit-transition: all 0.4s;background: #FFFFFF;box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);}
.navbar-collapse .navbar-menu {display: flex; position: relative; z-index:3; padding: 17px 0;}
.navbar-collapse .navbar-menu > .navbar-toggler2 .navbar-toggler-bar {
  background: #66615B !important;
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
  
}
.navbar-toggler2 {
  padding: .25rem .75rem .25rem 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.navbar .navbar-toggler2 .navbar-toggler-bar+.navbar-toggler-bar {margin-top: 4px;}
.navbar .navbar-toggler2 .bar1 {
  top: 6px;
  -webkit-animation: topbar-x 500ms linear 0s;
  -moz-animation: topbar-x 500ms linear 0s;
  animation: topbar-x 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navbar .navbar-toggler2 .bar2 {
  opacity: 0;
}
.navbar .navbar-toggler2 .bar3 {
  bottom: 6px;
  -webkit-animation: bottombar-x 500ms linear 0s;
  -moz-animation: bottombar-x 500ms linear 0s;
  animation: bottombar-x 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.offline-doc .navbar.navbar-transparent .navbar-menu .navbar-brand, .navbar-collapse .navbar-menu .navbar-brand {padding: 8px 15px; color: #66615B !important;}
.area-blank{position: absolute; top:0; right:10px; width:20px;height:20px; }
.area-badge {position: absolute; bottom:0; right:0;}
.badge {width:22px; height:20px; padding: 0.5em; margin-bottom: 0; background-color: #F5B929; border-radius: .8rem; text-align: center;}

/*  ========================================================================================== */

.floating_menu {position:fixed; z-index:1}
.floating_menu .list_float {position: fixed; left:0; right:0; bottom:0; height:57px; background: #fff; box-shadow: 0 -2px 8px rgba(91,91,91, 0.2)}
.floating_menu .list_float li {float:left; width:19%; box-sizing: border-box}
.floating_menu .list_float li a {display:block; height:54px; line-height: 86px; color:#000; text-align:center; white-space: nowrap; letter-spacing: 0.03px}
.floating_menu ul.list_float li.menu1 {background:url("../images/common/ic_floating_04.svg") no-repeat center 5px;}
.floating_menu ul.list_float li.menu2 {background:url("../images/common/ic_floating_04.svg") no-repeat center 5px;}
.floating_menu ul.list_float li.menu4 {background:url("../images/common/ic_floating_04.svg") no-repeat center 5px;}
.floating_menu ul.list_float li.menu5 {background:url("../images/common/ic_floating_04.svg") no-repeat center 5px;}
.floating_menu ul.list_float li.menu3 {width:24%;}
.floating_menu ul.list_float li.menu3 a {position:relative; top:-9px; width:56px; height:56px; line-height:126px; margin:0 auto; border-radius:50%; color:#333; box-shadow:0 2px 6px rgba(0, 0, 0, 0.3); background:#FFF url("../images/common/ic_floating_04.svg") no-repeat center center; font:0 auto}
.floating_menu ul.list_float li.menu3 a.active {background-image:url("../images/common/ic_floating_close.svg");}
.floating_menu .list_float li {background: url(../images/common/ic_floating_04.svg) no-repeat center 5px;}
body.draw .overlay {position:fixed; z-index:1; left:0; right:0; top:0; bottom:0; cursor:wait; background:rgba(0, 0, 0, .5);}
.footer {padding-bottom: 60px;}
#navigation {z-index: 2;}
.h2_tit {padding-bottom: 8px;padding-top: 30px;font-size: 14px;}
.btn, .btn-morphing {
  margin-bottom: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 0;
}
.accordion .card {margin-bottom: 0;}
.accordion>.card .card-header {margin-bottom: 0; }
.accordion>.card .card-header .arr_tit { background-repeat: no-repeat; background-position: top 16px right 5px;transition:all 0.1s ease; -webkit-transition:all 0.1s ease;}
.accordion>.card .card-header .arr_tit[aria-expanded="false"] {background-image: url(../images/icon/arr_12_dw.svg);}
.accordion>.card .card-header .arr_tit[aria-expanded="true"] {background-image: url(../images/icon/arr_12_up.svg); }

.userinfo {position: relative; margin-top: 70px; padding: 20px 15px; background: #fff; box-sizing: border-box; z-index: 3;}
.userinfo .userinfo-img {position: relative; display: inline-block; width:100px; height:100px; vertical-align: top;}
.userinfo .userinfo-cont {position: relative; display: inline-block; min-width:220px; padding: 20px 0 0 20px; color:#555; box-sizing: border-box;}
.userinfo .userinfo-cont .tit {font-size: 22px; font-weight: 600;}
.userinfo .userinfo-cont .desc {font-size: 13px;}
.navbar-collapse ul.navbarnav {overflow: hidden;overflow-y: scroll;position: relative;padding: 0 20px; background: #fff; box-sizing: border-box; z-index: 3;}
.navbarnav li {border-top: 1px dashed #e2e2e2}
.navbarnav li:first-child {border-top: 0;}
.navbarnav li:last-child {border-bottom: 1px solid #e2e2e2;}
.navbarnav li a span {margin-right: 10px;}
.navbarnav li a {position:relative; width:100%; font-size: 16px;}
.navbarnav li a:after {content:''; position: absolute; top:20px; right: 10px; width:10px; height:14px; background: url(../images/icon/arr_leftmenu.svg);}
.icon-email {display: inline-block;width:13px;height:9px;background: url(../images/icon/icon_email.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-premium {display: inline-block;width:21px;height:24px;background: url(../images/icon/icon_premium.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-shopbasket {display: inline-block;width:23px;height:21px;background: url(../images/icon/icon_shopbasket.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-myreview {display: inline-block;width:23px;height:22px;background: url(../images/icon/icon_myreview.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-noticemenu {display: inline-block;width:23px;height:22px;background: url(../images/icon/icon_noticemenu.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-customercenter {display: inline-block;width:23px;height:22px;background: url(../images/icon/icon_customercenter.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-aboutus {display: inline-block;width:23px;height:20px;background: url(../images/icon/icon_aboutus.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.icon-setting {display: inline-block;width:23px;height:23px;background: url(../images/icon/icon_setting.svg) 0 0 no-repeat; background-size:100%; font:0 auto; vertical-align: middle;}
.btn.small {padding: 0.2rem 12px; line-height: normal;}
.btn.small.btn-icon {position: relative; padding-left: 30px;}
.userinfo .userinfo-cont .icon-premium {position: absolute; top:-6px; left:6px;}
.userinfo .userinfo-cont .btn.small.btn-icon {margin: 10px 0;}
.userinfo .flex_btn {display: flex; margin: 20px 0 10px 0;}
.flex_btn {display: flex; margin: 30px 0;}
.flex_btn>a:last-child, .flex_btn>button:last-child{margin-right: 0;}
.flex_btn>a, .flex_btn>button{margin-right: 10px;}
a.btn_type1,button.btn_type1 {width:100%; height:48px; line-height:48px; box-sizing:border-box; background:#FFB800; color:#fff; font-size:13px; border-radius:48px; text-align:center;}
a.btn_type1_2,button.btn_type1_2 {background:#555; color:#555}
a.btn_type1_3,button.btn_type1_3 {background:#777; color:#555}
a.btn_type1_4,button.btn_type1_4 {background:#888; color:#555}
a.btn_type1_5,button.btn_type1_5 {background:#dedede; color:#777}
a.btn_type2,button.btn_type2 {width:100%; height:40px; line-height:40px; box-sizing:border-box; background:#FFB800; color:#fff; font-size:13px; border-radius:40px; text-align:center;}
a.btn_type2_2,button.btn_type2_2 {background:#555; color:#555}
a.btn_type2_3,button.btn_type2_3 {background:#777; color:#555}
a.btn_type2_4,button.btn_type2_4 {background:#888; color:#555}
a.btn_type2_5,button.btn_type2_5 {background:#dedede; color:#777}
hr.w100h1 {position: relative; width: 100%; margin-bottom: 20px; border:0; background-color:#eee}